/* Portrait */
@media only screen 
  and (max-device-width: 320px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  	form.formRegistro {
	    height: 300px;   
	}

	.iconoHeaderBoton{
		width: 55px;
	}

}

/*galaxy s5*/
@media only screen 
  and (min-device-width: 359px)
  and (max-device-width: 360px)
  and (orientation: portrait) {
  	
  	.iconoHeaderBoton{
		width: 60px;
	}

}

/*iphone 6*/
@media only screen 
  and (min-device-width: 370px)
  and (max-device-width: 399px)
  and (orientation: portrait) {
  	
  	.iconoHeaderBoton{
		width: 65px;
	}

}

/*iphone 6 plus*/
@media only screen 
  and (min-device-width: 400px)
  and (max-device-width: 759px)
  and (orientation: portrait) {
  	
  	.iconoHeaderBoton{
		width: 75px !important;
		margin-left: -3px !important;

	}

}
	
/*ipad*/
@media only screen 
  and (min-device-width: 760px)
  and (orientation: portrait) {
  	
  	img.logoFooter {
	    content:url("../img/logoFic2.png");
	    width: 164px;
	    height: 56px;
	    position: fixed;
	    bottom: 5px;
	    left: 50%;
	    margin-left: -82px;
	}

	.iconoHeaderBoton{
		width: 140px;
	}
	
	.modalMenuAccionesModificar{
		min-height: 500px !important;
	}

}