<ion-modal-view class="" ng-controller="agregarComentarioCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%" ng-click="atrasModalAgregarComentario()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto">
        	<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="" style="height: 20px; margin-top: 3%; margin-right: 1%;"> Crear Huella
        </h1>
        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalAgregarComentario()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

    <div class="footerNuevoHome">
      <img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome" ng-hide="menuAbierto">
    </div>

    <ion-content class="padding">
    	<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    	<p class="txtAgregarImgPrincipal">Agregar comentario</p>
		<div class="separadorAzul"></div>

       	<div class="list paddingRegistro">

			<div class = "row">
			   	<div class = "col col-25">
			   		<img ng-class="{'imagenItemAgregarComentario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
			   	</div> 	
			   	<div class = "col col-75">
			   		<textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="Agrega un comentario">
					</textarea>

					<div class="" style="height: 46px;" ng-click="addComentario(item)">
    	       			<p class="textoEnviarComentario centrar-ipad">Enviar</p>
	        			<img src="img/login/btnIngresar.png" alt="" class="btnEnviarComentario" style="margin-right: 10% !important;">
        			</div>
			   	</div>
			</div>
			
	        <div class = "row" ng-repeat="comentario in comentarios" class="delgadaLinea">
			  	<div class = "col col-75">
			   		<p>{{comentario.texto_comentario}}</p>
			   	</div>
			   	<div class = "col">
			   		<img ng-class="{'imagenItemAgregarComentario': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>
			   	</div>	
			</div>

			<!--
			<div class="row">
				<div class="col col-100">
			   		<button class="button button-positive btnIngersar" ng-click="addComentario(item)" style="background-color:#b0a4cb;">agregar comentario</button>
			  	</div>
			</div>-->

       	</div>

       	<!--<div>
       		<div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addComentario(item)">
       		  <p class="textoIniciarSesion">GUARDAR</p>
       		  <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
       		</div>
       	</div>-->
       	
       	
    </ion-content>

    <ion-footer-bar class="footerCrearHuella">
    	<div class="row contenedorAccionesDejaTuHuella">
          	<div class="col">
	       		<img src="img/deja_tu_huella/editar.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarDescripcion()">
          	</div>
          	<div class="col">
	       		<img src="img/deja_tu_huella/galeria.png" alt="" class=" iconoCrearHuella" ng-click="openModalSubirImagen()">
          	</div>
          	<div class="col">
	          	<img src="img/deja_tu_huella/comentarios_blanco.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarComentario()">
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
          	<div class="col">
	          	<img src="img/deja_tu_huella/valoracion.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarCalificar()">
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
       	</div>
    </ion-footer-bar>
    
</ion-modal-view>