<ion-modal-view class="" ng-controller="agregarCalificarCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%;" ng-click="atrasModalAgregarCalificar()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto">
          <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="" style="height: 20px; margin-top: 3%; margin-right: 1%;"> CREAR HUELLA
        </h1>
        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalAgregarCalificar()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

    <div class="footerNuevoHome">
      <img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome" ng-hide="menuAbierto">
    </div>

    <ion-content class="padding">
       	<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    	<p class="txtAgregarImgPrincipal">Agregar calificar</p>
		<div class="separadorAzul"></div>

       	<div class="list paddingRegistro">
			<!--
			<p>Seguridad</p>
			<rating ng-model="ratingSeguridad.rate" max="ratingSeguridad.max"></rating>

			<p>Atractivo</p>
			<rating ng-model="ratingAtractivo.rate" max="ratingAtractivo.max"></rating>

			<p>Higiene</p>
			<rating ng-model="ratingHigiene.rate" max="ratingHigiene.max"></rating>
			-->
			<div ng-repeat="calificacion in calificaciones">
				<p>{{calificacion.nombre_calificacion}} <span class="fechaComentario">({{calificacion.promedio}} de 5)</span></p>
				<rating ng-model="calificacion.puntaje_usuario" max="calificacion.maximo" id="calificarRutasTipicas"></rating>	
			</div>

       	</div>
		
		<div>
       		<div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addCalificacionItem(ratingSeguridad.rate, ratingAtractivo.rate, ratingHigiene.rate)">
       		  <p class="textoIniciarSesion">GUARDAR</p>
       		  <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
       		</div>
       	</div>

    </ion-content>


    <ion-footer-bar class="footerCrearHuella">
    	<div class="row contenedorAccionesDejaTuHuella">
          	<div class="col">
	       		<img src="img/deja_tu_huella/editar.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarDescripcion()">
          	</div>
          	<div class="col">
	       		<img src="img/deja_tu_huella/galeria.png" alt="" class=" iconoCrearHuella" ng-click="openModalSubirImagen()">
          	</div>
          	<div class="col">
	          	<img src="img/deja_tu_huella/comentarios.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarComentario()">
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
          	<div class="col">
	          	<img src="img/deja_tu_huella/valoracion_blanco.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarCalificar()">
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
       	</div>
    </ion-footer-bar>

    
</ion-modal-view>