<ion-modal-view class="modal_pantalla_completa"  ng-controller="atractivosTuristicosCtrl">
    
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalAtractivosTuristicos()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto">
            <img src="img/rutasTipicas/icono atractivo.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;"> ATRACTIVOS TURÍSTICOS
        </h1>
        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalAtractivosTuristicos()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

    <ion-content class="contenido" style="margin-bottom: 40px;">
        <div class="contenedorFiltro">
            <div class="contenedorTituloAtractivosTuristicos text-center">
                <img src="img/deja_tu_huella/icono_patrimonios.png" alt="" style="float: left;  height: 30px;  margin-right: 4px; margin-top: 3px; margin-left: 15px">
                <p class="textoTituloAtractivosTuristicos text-center">Lista de atractivos turísticos</p>
            </div>
        </div>

        <div ng-repeat="atractivo in sub_tipo_atractivo">
           	<div class="item-input inputLogin contenedorNombreAtractivoTuristico" ng-click="mostrarAtractivosTuristicos(atractivo.id_sub_tipo_atractivo,$index)">
                <img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  height: 30px;  margin-right: 5px;}">
                <p class="preguntaPreferenicas">{{atractivo.nombre}}</p>
                <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
            </div>
            <div style="background-color: gray; height: 1px; margin-left: 55px; width: 100%;"></div>
        </div>
        
    </ion-content>
</ion-modal-view>