<ion-modal-view class="modal_pantalla_completa" ng-controller="compartirCtrl">
    <!--<ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen"> <!-- #b0a4cb
        <i class="estrellaMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;font-size: 17px;">{{item.nombre}}</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalModificarCalificar()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>-->

    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo"  style="height: 70px !important;">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalCompartir()">
        <h1 class="tituloAtrasEquis title fuenteRoboto tituloModalFullscreenNuevo">
            <img ng-src="{{imagenTipo}}" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" >
            <img src="img/servicios_blancos/{{item.id_tipo_servicio}}.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'servicio' ">
            <img src="img/blancos_atractivos/{{item.icono}}.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'patrimonio' ">
            {{item.nombre}}
        </h1>
        <!--<button class="button button-clear button-primary" ng-click="cerrarModalCompartirMapa()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>

    <ion-content class="" style="top: 70px !important;">
    	<div class="contenedorMenuAcciones" ng-style="estiloBarraModificar">
        <img src="{{iconoCompartir}}" alt="" class="iconoSubTituloMenuAcciones">
      <p class="textoSubTituloMenuAcciones">&nbsp;&nbsp;Compartir</p>
      </div>


      <div class="row">
        <div class="col">
          <p class="textoCompartir">¡Comparte con tus amigos!</p>
        </div>

      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <img src="img/facebook.png" alt="" class="imgModificarImg" style="margin:auto;" ng-click="compartirFacebook()">
        </div>
        <div class="col">
          <img src="img/twitter.png" alt="" class="imgModificarImg" style="margin:auto;" ng-click="compartirTwitter()">
        </div>
        <div class="col"></div>
      </div>
      

    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarCalificar()">
	         <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addCalificacionItem(ratingSeguridad.rate, ratingAtractivo.rate, ratingHigiene.rate)">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>