<ion-modal-view class="" ng-controller="crearMisRecorridosCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%" ng-click="cerrarModalCrearMisRecorridos()">
    	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
    		<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;"> INICIAR MI RECORRIDO
    	</h1>
        <!--<button class="button button-clear button-primary" ng-click="cerrarModalCrearMisRecorridos()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

    <ion-content>
    	<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    		<p class="txtAgregarImgPrincipal">Agregar descripción</p>
		<div class="separadorAzul"></div>
       	
      <div class="list">
			     <label class="item item-input inputLogin inputAgregarDescripcion">        
	        	<input type="text" ng-model="item.titulo" placeholder="Título Recorrido" maxlength="30">
	        </label>
	        <div class="separadorPlomo"></div>
	        <label class="item item-input inputLogin inputAgregarDescripcion">
	        	<input type="text" ng-model="item.descripcion" placeholder="Agrega descripción">
	        </label>

          <img ng-src="{{imgRecorrido}}" alt="" style="width: 80%;margin-left: 10%" >

	        <div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addCrearHuella(item)">
	          <p class="textoIniciarSesion">GUARDAR</p>
	          <img src="img/login/btnMorado.png" alt="" class="btnIngresarLogin">
	        </div>

          <div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="descartarHuella(item)">
            <p class="textoIniciarSesion">DESCARTAR</p>
            <img src="img/login/btnMorado.png" alt="" class="btnIngresarLogin">
          </div>

       	</div>

      <div class="modalCompartir" ng-show="modalCompartir">
        <div class="contenedorModalCompartir">
          <h4 class="txtcomparteConTusAmigos">Comparte con tus amigos!</h4>
          <i class="icon ion-close-round equisModalCrearRecorrido" ng-click="cerrarModalCrearMisRecorridos()"></i>
          <div style="display:flex;justify-content:center">
            <img src="img/facebook.png" ng-click="compartirFacebook()" width="70" height="70" style="margin-right:20px;">
            <img src="img/twitter.png" ng-click="compartirTwitter()" width="70" height="70">
          </div> 
        </div>
      </div>

    </ion-content>
</ion-modal-view>