<ion-modal-view class="modal_pantalla_completa" ng-controller="denunciarCtrl">
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo"  style="height: 70px !important;">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalDenunciar()">
      <!-- <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="iconoHeaderModal"> -->
      <!-- <img src="img/nuevoHome/rutasTipicas.png" alt="" class="iconoHeaderModal"> -->

      <h1  class="tituloAtrasEquis title fuenteRoboto"  ng-show=" tipo_seleccionado == 'item' " >
        <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" style="height:20px;  margin-top: 5%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'item'" > {{item.nombre}}<!-- <button style="float: right;">...</button> -->
      </h1>

        <h1 class="tituloAtrasEquis title fuenteRoboto" ng-show="imagen_deja_tu_huella == true">
            <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show="imagen_deja_tu_huella == true">
            Denunciar 
        </h1>

        <h1 class="tituloAtrasEquis title fuenteRoboto tituloModalFullscreenNuevo" ng-show=" tipo_seleccionado == 'servicio' || tipo_seleccionado == 'patrimonio'" >
            <img src="img/servicios_blancos/{{item.id_tipo_servicio}}.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'servicio' ">
            <img src="img/blancos_atractivos/{{item.icono}}.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'patrimonio' ">
            {{item.nombre}}
        </h1>
        <!--<button class="button button-clear button-primary" ng-click="cerrarModalDenunciarMapa()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>

    <ion-content class="" style="top: 70px !important;">
        <div class="contenedorMenuAcciones" ng-style="estiloBarraModificar">
            <img src="img/atractivos/denunciar.png" alt="" class="iconoSubTituloMenuAcciones">
            <p class="textoSubTituloMenuAcciones">&nbsp;&nbsp;Denunciar</p>
        </div>

       	<div class="list paddingRegistro">   
	        	<textarea ng-model="$parent.denuncia" rows="4" cols="15" style="width: 100%;height: 100%; margin-top: 17px" placeholder="Escribe el motivo de denuncia">
   				</textarea>   
       	</div>

       	<!--<button class="button button-block button-royal" ng-click="denunciar(denuncia)">
  			 ENVIAR
		    </button>-->
        
        <div>
          <div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="denunciar(denuncia)">
            <p class="textoIniciarSesion">DENUNCIAR</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
          </div>
        </div>

    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalDenunciar()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="denunciar(denuncia)">
	    <button class="button button-full button-positive botonMisDatos">
	         <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>