    <ion-modal-view class="modal_pantalla_completa"  ng-controller="detalleExperienciaCtrl" >
    
    <div class="footerExperiencia">
        <div class="row centrarMenu">
            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuPrograma.png" alt="" class="imgMenuExperiencia" ng-click="menu(1)">
                <p class="txtBlanco txtMenuExperiencia">PROGRAMA</p>
            </div>

            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuIncluye.png" alt="" class="imgMenuExperiencia" ng-click="menu(2)">
                <p class="txtBlanco txtMenuExperiencia">INCLUYE</p>
            </div>
            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuVigencia.png" alt="" class="imgMenuExperiencia" ng-click="menu(3)">
                <p class="txtBlanco txtMenuExperiencia">VIGENCIA</p>    
            </div>
            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuTraer.png" alt="" class="imgMenuExperiencia" ng-click="menu(4)">
                <p class="txtBlanco txtMenuExperiencia">TRAER</p>    
            </div>
            <div class="col contenedorBotonesFooter">
                <img src="img/experiencia/imgMenuReservar.png" alt="" class="imgMenuExperiencia" ng-click="menu(5)">
                <p class="txtBlanco txtMenuExperiencia">RESERVAR</p>    
            </div>
        </div>
  	</div>

    <ion-header-bar class="contenedortituloModalFullscreenNuevo bar bar-header bar-positive ">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalDetalleExperiencia()">
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto">
        	<!--<img src="img/nuevoHome/rutasTipicas.png" alt="" class="iconoHeaderModal">-->
            {{item.nombre_producto}}
        </h1>
        <!--<button class="button button-clear button-primary" ng-click="cerrarModalDetalleExperiencia()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

            <div class="bar bar-subheader contenedorNombreAtractivo" style="height: 50px !important; top: 60px;">
                <div class="contenedorTituloSaberMas" style="height: 75px;">
                  <h3 class="tituloSaberMas title tituloModalFullscreenNuevo fuenteRoboto" style="color: #111; text-align: left !important; margin-left: 5% !important;  margin-top: 0% !important;top: 0px !important;">
                    <img src="img/paquetesTuristicos/paquete.png" alt="" class=""  style="height:15px; margin-right: 0%;"> {{item.nombre_servicio}}
                  </h3>
                </div>
            </div>

    <div ng-show="item.ruta_archivo_producto_servicio != 'http://200.14.68.107/atacamaGoMultimedia/'"> <!-- Si tiene imagen -->
        <ion-content class="scrollClass has-subheader" style="top: 100px;">
            
            <img ng-show="item.ruta_archivo_producto_servicio != 'http://200.14.68.107/atacamaGoMultimedia/'" ng-src="{{item.ruta_archivo_producto_servicio}}" alt="" class="imgExperienciaAtacama">
            
            <div ng-show="item.ruta_archivo_producto_servicio == 'http://200.14.68.107/atacamaGoMultimedia/'" style="margin-top: 10px;width:100%"></div>
            
            <div class="contenedorAccionesRuta">
                <!--<img src="img/experiencia/compartir.png" alt="" class="imgValoracionRutaRutasTipicas" ng-click="openCompartir()">-->
                <img src="img/evento/compartir_azul.png" alt="" class="imgCompartirRutaRutasTipicas" ng-click="openCompartir()">
                <img src="img/atractivos/comentarios.png" alt="" class="imgCompartirRutaRutasTipicas" ng-click="openComentar()">
                <img src="img/experiencia/contacto.png" alt="" class="imgCompartirRutaRutasTipicas" ng-click="openContacto()">

                
                
            </div>

            
            <div class="scrollClass">
                <!--<div class="row">
                    <div class="col">
                        <p style="margin-left: 65%; font-size: small;">Calificar ({{item.calificacion}} de 5)</p>
                    </div>
                    
                </div>-->

                <div class="row" >
                    <div class="col">
                        <div><p class="textoCalificar">Calificar ({{item.calificacion}} de 5)</p></div>
                        <rating ng-click="addCalificacion(null,item.calificacion)" class="estrellaValoracionPuntuacionDetalle" style="margin-top: 0%;" ng-model="item.calificacion" max="5" id="calificarRutasTipicas" ng-disabled="true"></rating> 
                    </div>
                </div>

                <b >
                    <p class="textoMargen"  ng-bind-html="trustAsHtml(experienciaSeleccionada.descripcion_producto)"> </p>
                </b>
                    
                <!--<p class="textoMargen" style="margin-top: 25px;" ng-bind-html="trustAsHtml(experienciaSeleccionada.detalle_paquete_turistico)"></p> -->
                

                <!--<p class="textoMargen"  ng-bind-html="trustAsHtml(experienciaSeleccionada.detalle_paquete_turistico)"></p>  -->  
            </div>

            
            
        </ion-content   >
    </div>

    <div ng-show="item.ruta_archivo_producto_servicio == 'http://200.14.68.107/atacamaGoMultimedia/'"> <!-- Si NO tiene imagen -->
        <ion-content scroll="false">
            
            <img ng-show="item.ruta_archivo_producto_servicio != 'http://200.14.68.107/atacamaGoMultimedia/'" ng-src="{{item.ruta_archivo_producto_servicio}}" alt="" class="imgExperienciaAtacama">
            
            <div ng-show="item.ruta_archivo_producto_servicio == 'http://200.14.68.107/atacamaGoMultimedia/'" style="margin-top: 10px;width:100%"></div>
            
            <div class="contenedorAccionesRuta">
                <!--<img src="img/experiencia/compartir.png" alt="" class="imgValoracionRutaRutasTipicas" ng-click="openCompartir()">-->
                <img src="img/atractivos/comentarios.png" alt="" class="imgCompartirRutaRutasTipicas" ng-click="openComentar()">
                <img src="img/experiencia/contacto.png" alt="" class="imgCompartirRutaRutasTipicas" ng-click="openContacto()">

                
                
            </div>
            
            <div class="scrollClass">
                <!--<div class="row">
                    <div class="col">
                        <p style="margin-left: 65%; font-size: small;">Calificar ({{item.calificacion}} de 5)</p>
                    </div>
                    
                </div>-->

                <div class="row" >
                    <div class="col">
                        <div><p class="textoCalificar">Calificar ({{item.calificacion}} de 5)</p></div>
                        <br>
                        <rating ng-click="addCalificacion(null,item.calificacion)" class="estrellaValoracionPuntuacionDetalle" style="margin-top: -5%;" ng-model="item.calificacion" max="5" id="calificarRutasTipicas" ng-disabled="true"></rating> 
                    </div>
                </div>

                <b >
                    <p class="textoMargen"  ng-bind-html="trustAsHtml(experienciaSeleccionada.descripcion_producto)"> </p>
                </b>
                    
                <!--<p class="textoMargen" style="margin-top: 25px;" ng-bind-html="trustAsHtml(experienciaSeleccionada.detalle_paquete_turistico)"></p> -->
                

                <!--<p class="textoMargen"  ng-bind-html="trustAsHtml(experienciaSeleccionada.detalle_paquete_turistico)"></p>  -->  
            </div>
            
            
        </ion-content>
    </div>
    
</ion-modal-view>