<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarEventoVer()">


    	<h1 class="title tituloModalFullscreenNuevo fuenteRoboto">
          <img src="img/evento/evento.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;"> EVENTOS
        </h1>
      <!-- 
      <button class="button button-clear button-primary" ng-click="volverMenuEventos()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
	</ion-header-bar>

  	<ion-content class="contenido" style="overflow-y : hidden;  z-index: 5" scroll="false">
    	<div style="width:100%; height:100%;overflow-y : hidden;" id="map_canvas222">
    	</div>
  	</ion-content>
</ion-modal-view>