<ion-modal-view class="modal_pantalla_completa"  ng-controller="eventoSeleccionadoCtrl">
    
    <div class="footerNuevoHome">
      <img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
    </div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalEventoSeleccionado()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto">
          <img src="img/evento/evento.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;"> EVENTOS
        </h1>
        <button class="button button-clear button-primary" ng-click="volverServiciosAtractivos()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <!--<ion-header-bar class="bar bar-header bar-positive tituloMisDatos">
        <i class="eventosMenuNueva iconoMisDatos"></i>
        <h1 style="color:#000000;font-size: 24px;margin-left: 5%!important;margin-right: 5%!important;margin-top:0px !important;">{{evento_seleccionado.titulo_evento}}</h1>
        <button style="position: absolute;right: 5%;" class="button button-clear button-primary" ng-click="cerrarModalEventoSeleccionado()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>-->


    <div class="bar bar-subheader contenedorTituloSaberMas" style="top: 60px;">
          <h3 class="txtTituloSaberMas" style="width: 100%;
    height: 30px;
    text-transform: uppercase;
    overflow: hidden;
    font-size: 20px;">
              <img src="img/rutasTipicas/tituloRutasTipicas.png" alt="" class="" style="height:20px; margin-right: 1%; margin-left: 5%;">{{evento_seleccionado.titulo_evento}}
          </h3>
    </div>

    <ion-content class="scrollClass has-subheader" style="top: 110px;">
        
        <!--<div class="list">
          <img ng-show="evento_seleccionado.ruta_imagen_evento != 'http://200.14.68.107/atacamaGoMultimedia/' " ng-src="{{evento_seleccionado.ruta_imagen_evento}}" alt="" width="100%">  
        </div>-->

        <div class="contenedorImagenSaberMas">
          <img  ng-show="evento_seleccionado.ruta_imagen_evento != 'http://200.14.68.107/atacamaGoMultimedia/' " class="imgSaberMas"  ng-src="{{evento_seleccionado.ruta_imagen_evento}}">

        </div>

        <div class="contenedorAccionesItem" style="margin-top: -5px;">        
            <img src="img/evento/compartir_azul.png" alt="" class="imgCompartirEvento" ng-click="openModalCompartir()">   
        </div>

        <div class="cuerpoSaberMas">
          
          <p class="txtCuerpoSaberMas" ng-bind-html="trustAsHtml(evento_seleccionado.descripcion_evento)">
          </p>
          
          <div class="fechasEvento" ng-repeat="fecha in evento_seleccionado.fechas_evento">
            <p class="margen3Porciento" ng-show="fecha.inicio_fecha_evento" > {{fecha.inicio_fecha_evento | date :  "dd.MM.yyyy"}} {{fecha.fin_fecha_evento | date :  "dd.MM.yyyy"}} ({{fecha.inicio_dia_evento}} - {{fecha.fin_dia_evento}}) </p>
            <p class="margen4Porciento" ng-show="fecha.fin_hora_evento"> Desde: {{fecha.inicio_hora_evento}}  </p>
            <p class="margen4Porciento" ng-show="fecha.fin_hora_evento"> Hasta: {{fecha.fin_hora_evento}}</p> 
            <p class="margen4Porciento"> {{fecha.fecha}}</p>
          </div>

          <h4>Dirección:</h4>
          <!--<p class="margen3Porciento"> {{evento_seleccionado.direccion_evento}} {{evento_seleccionado.numero_direccion_evento}} , {{evento_seleccionado.nombre_comuna}}</p> -->
          <p class="margen3Porciento"> {{evento_seleccionado.descripcion_direccion}}</p>
              <br><br><br><br><br><br><br>
        </div>

        <div class="contenedorBtnRecorrerRuta" ng-hide="fromMapa == true">
          <div class="margenBtnRecorrerRuta" style="height: 46px;" ng-click="verEvento()">
            <p class="textoIniciarSesion">VER EN MAPA</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
          </div>
        </div>

        <!--<div class="list">
         
          <div class="list">
            <!--<h3>{{evento_seleccionado.titulo_evento}}</h3> -->
            <!--<img ng-show="evento_seleccionado.ruta_imagen_evento != 'http://200.14.68.107/atacamaGoMultimedia/' "  ng-src="{{evento_seleccionado.ruta_imagen_evento}}" alt="" width="100%">--

            <div class="fondoMorado">              <!--<h4>Descripcion:</h4> --
              <p class="margen3Porciento" ng-bind-html="trustAsHtml(evento_seleccionado.descripcion_evento)"></p>
              
              <h4>Fechas:</h4>
              <!--<div class="fechasEvento" ng-repeat="fecha in evento_seleccionado.fechas_evento">
                <p class="margen3Porciento"> {{fecha.inicio_fecha_evento | date :  "dd.MM.yyyy"}} {{fecha.fin_fecha_evento | date :  "dd.MM.yyyy"}} ({{fecha.inicio_dia_evento}} - {{fecha.fin_dia_evento}}) </p>
                <p class="margen4Porciento"> Desde: {{fecha.inicio_hora_evento}}  </p>
                <p class="margen4Porciento"> Hasta: {{fecha.fin_hora_evento}}</p>
              </div> --

              
              <h4>Dirección:</h4>
              <p class="margen3Porciento"> {{evento_seleccionado.descripcion_direccion}}</p>
              
              <p class="margen3Porciento" ng-show="evento_seleccionado.link_evento"> Más información en <a ng-click="hrefWeb(evento_seleccionado.link_evento)">{{evento_seleccionado.link_evento}}</a></p>
            </div>
            
            <p ng-hide="evento_seleccionado.servicios_eventos[0] == null">Enviado por:</p>
            
            <div class="list" ng-repeat="servicio in evento_seleccionado.servicios_eventos">
              <a class="item item-thumbnail-left" style="border-color: gray;background: rgba(134,116,176,0);">
                <img src="{{servicio.ruta_archivo_servicio}}" style="height: auto;width: 100%">
                <p style="color: black;overflow:inherit;">{{servicio.nombre_servicio}}</p>
                <h4 style="color: black;overflow:inherit;">{{servicio.nombre_tipo_servicio}}</h4>
              </a>
            </div>
            
          </div>

        </div> -->
    </ion-content>
</ion-modal-view>