<ion-modal-view class="modal_pantalla_completa" ng-controller="experienciaAtacamaComentarCtrl">
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalExperienciaAtacamaComentar()">
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto">
            {{itemSeleccionado.nombre_producto}} 
        </h1>
        <button class="button button-clear button-primary" ng-click="goToNuevoHome()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <div class="bar bar-subheader" style="background-color:#AB1765; top: 60px !important;/*height: 55px !important;*/">
      <!-- <div class="contenedorMenuAcciones text-center" ng-style="estiloBarraModificar"> -->
      <div class="contenedorCategoria text-center" style="margin-top: -2px !important">
            <img src="img/paquetesTuristicos/invComentario.png" alt="" class="iconoSubTituloMenuAcciones">
            <p class="textoSubTituloMenuAcciones">Comentarios</p>
        </div>       
    </div>

    <ion-content class="scrollClass has-subheader" style='top: 110px !important; margin-bottom: 50px;'>
         

    	<div class="list">

            <div class = "row delgadaLinea">
                <div class = "col col-25">
                    <img ng-class="{'imagenItemUsuario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
                </div>
                <div class = "col col-75">
                    <textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="Agrega un comentario">
                    </textarea>

                    <div class="" style="height: 46px;" ng-click="addComentario(item)">
                        <p class="textoEnviarComentario">Enviar</p>
                        <img src="img/login/btnIngresar.png" alt="" class="btnEnviarComentario" style="margin-right: 10% !important;">
                    </div>
                </div>
            
            </div>

            <div class = "row delgadaLinea" ng-repeat="comentario in comentarios">
                <div class = "col">
                    <img ng-class="{'imagenItemComentario': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>
                </div>  

            <div class = "col col-75">
                <div class="row">
                    <!--<div class="col fechaComentario">
                    {{comentario.fecha_comentario}}
                    </div>-->

                    <div style="position: absolute;right: 10%;" >
                        <div ng-show="id_usuario == comentario.id_usuario" ng-click="deleteComentario(comentario,$index)" >
                            <img src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario">
                        </div>
                    </div>
                </div>
                
                <div class="fechaComentario margen-comentario" style="margin-left: 4%;">
                    {{comentario.texto_comentario}}
                </div>
                    <!--<p>{{comentario.texto_comentario}} <span class="fechaComentario">{{comentario.fecha_comentario}}</span></p>-->
            </div>
              
        </div>

        <div class="btnGuardarMisDatos" style="height: 46px;" ng-click="masComentarios(cantComentarios)">
            <p class="textoIniciarSesion">Más comentarios</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
        </div>


         <!--
        <div class="list" overflow-scroll="false" ng-hide="esAndroid">

            <div class = "row delgadaLinea">
                <div class = "col col-75">
                    <textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="comentario nuevo...">
                    </textarea>
                </div>
                <div class = "col col-25">
                    <img ng-class="{'imagenItemComentario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
                </div>  
            </div>

            <div class = "row delgadaLinea" ng-repeat="comentario in comentarios">
                <div class = "col col-75">
                    <div class="row">
                        <div class="col col-33 col-offset-75 fechaComentario">
                            {{comentario.fecha_comentario}}
                        <div ng-show="comentario.id_usuario == id_usuario" ng-click="eliminarImagen(hola[$index],$index)"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i>
                        </div>
                    </div>
                </div>
            
                <div>
                    {{comentario.texto_comentario}}
                </div>
                    <!--<p>{{comentario.texto_comentario}} <span class="fechaComentario">{{comentario.fecha_comentario}}</span></p>--
            </div>
            <div class="col">
                <img ng-class="{'imagenItem': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>
            </div>  
        </div>

        <button class="button button-block button-royal" ng-click="masComentarios(cantComentarios)">
            Más comentarios
        </button>-->

      <!--
      <div class="row">
        <div class="col col-100">
            <button class="button button-positive btnIngersar" ng-click="addComentario(item)" style="background-color:#b0a4cb;">agregar comentario</button>
          </div>
      </div>-->

    </ion-content>
    
</ion-modal-view>