<ion-modal-view class="modal_pantalla_completa" ng-controller="experienciaAtacamaCompartirCtrl">

    <div class="footerNuevoHome">
      <img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
    </div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
      <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalExperienciaAtacamaCompartir()">
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto">
          {{item.nombre_producto}} 
        </h1>
        <button class="button button-clear button-primary" ng-click="goToNuevoHome()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <div class="bar bar-subheader" style="background-color:#AB1765; top: 55px !important; /*height: 55px !important;*/">
      <div class="contenedorCategoria text-center" style="margin-top: -2px !important">
            <img src="img/paquetesTuristicos/invCompartir.png" alt="" class="iconoSubTituloMenuAcciones">
            <p class="textoSubTituloMenuAcciones">Compartir</p>
        </div>
    </div>

    <ion-content class="">
      <!--<div class="contenedorCategoria">
        <img src="img/paquetesTuristicos/invCompartir.png" alt="" class="iconoSubTituloMenuAcciones">
        <p class="textoSubTituloMenuAcciones">Compartir</p>
      </div>  -->



      <div class="row">
        <div class="col">
          <p class="textoCompartir">¡Comparte con tus amigos!</p>
        </div>

      </div>

      <div class="row">
        <div class="col"></div>
        <div class="col">
          <img src="img/facebook.png" alt="" class="imgModificarImg" style="margin:auto;" ng-click="compartirFacebook()">
        </div>
        <div class="col">
          <img src="img/twitter.png" alt="" class="imgModificarImg" style="margin:auto;" ng-click="compartirTwitter()">
        </div>
        <div class="col"></div>
      </div>
      

    </ion-content>
</ion-modal-view>