<ion-view cache-view="false">
	
	<div id="containerLoading" style="" data-keyboard="false" class="fadeOut"> 
	    <img alt="" class="imgCargando" style="    position: absolute;
	    margin: auto;
	    top: -60px;
	    left: -54px;
	    right: 0;
	    bottom: 0;
	    z-index: 1;
	    width: 100px;">
	    <div class="loader loader--style2" title="1" style="    position: absolute;
	    margin: auto;
	    top: 0;
	    left: 85px;
	    right: 0;
	    bottom: 0;">
	      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	         width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
	      <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
	        <animateTransform attributeType="xml"
	          attributeName="transform"
	          type="rotate"
	          from="0 25 25"
	          to="360 25 25"
	          dur="0.9s"
	          repeatCount="indefinite"/>
	        </path>
	      </svg>
	    </div>
	  </div>

  	<ion-content style="z-index: 5">
    	<div style="width:100%; height:100%;" id="map_canvas"></div>
  	</ion-content>
		<img class="logoFooter" alt="">
		
		<div id="contenedorMarcador" class="fadeOut">
    		<img class="marcadorNuevo" alt="" >
    	</div>

	<ion-nav-bar class="bar-stable nav-title-slide-ios7">
		<!-- siempre parte con crearMarcador = false-->
	    <ion-nav-buttons side="left" >
            <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right" >
        	<div ng-hide="btnCrearMarcador == true || btnRecorrerRuta == true  || btnRecorriendoRuta == true || btnTerminarAventura == true  || btnOpcionesMarcador == true || btnMostrarReservaEnMapa == true"> <!-- || btnVolverVerItem == true -->
        		<!-- Rutasd tipicas -->
	            <button ng-class="(!btnCrearMarcador) ? 'fadeIn' : 'fadeOut' || (!btnRecorrerRuta) ? 'fadeIn' : 'fadeOut'" class="button button-clear iconoHeaderBoton" ng-click="openPopover($event)" > <!-- openModalMisRutas() -->
		            <i class='rutasTuristicasNueva iconHeader'></i>
		        </button>
		        
		        <!-- Patriominos turisticos -->
		        <button ng-class="(!btnCrearMarcador) ? 'fadeIn' : 'fadeOut' || (!btnRecorrerRuta) ? 'fadeIn' : 'fadeOut'" class="button button-clear iconoHeaderBoton" ng-click="openPopoverPatrimonios($event)" > <!-- "mostrarPatrimonios()" -->
		            <i class='patrimonioNueva iconHeader'></i>
		        </button>

		        <!-- Servicios turisticos -->
		        <button ng-class="(!btnCrearMarcador) ? 'fadeIn' : 'fadeOut' || (!btnRecorrerRuta) ? 'fadeIn' : 'fadeOut'" class="button button-clear iconoHeaderBoton" ng-click="openPopoverServicios($event)" > <!-- "mostrarServiciosTuristicos()" -->
		            <i class='serviciosTuristicosNueva iconHeader'></i>
		        </button>
		        
		        <!-- Crear Marcador -->
		        <button ng-class="(!btnCrearMarcador) ? 'fadeIn' : 'fadeOut' || (!btnRecorrerRuta) ? 'fadeIn' : 'fadeOut'" class="button button-clear iconoHeaderBoton" ng-click="openPopoverCrearItem($event)"> <!-- openOpcionMarcador() | openModalFiguraGps() -->
		            <i class='posicionGpsNueva iconHeader'></i>
		        </button>

		        <!-- Aventura(8) -->
		        <button ng-class="(!btnCrearMarcador) ? 'fadeIn' : 'fadeOut' || (!btnRecorrerRuta) ? 'fadeIn' : 'fadeOut'" class="button button-clear iconoHeaderBoton" ng-click="mostrarMarcadores()"> <!--openModalMenuAccionesModificar  -->
		            <i class='sinNombreNueva iconHeader'></i>
		        </button>
			</div>
	       	
	       	<div class = "row" style="text-align:center;width:100%;" ng-show="btnOpcionesMarcador">
			  	<div class = "col colMenuHome">
			   		<h4 style="width: 70px;" ng-click="volverantAntesCrearMarcador()" class="aceptarCancelar nowrapHome">Volver</h4>
			   	</div>
			  	<div class = "col colMenuHome">
			   		<h4 style="width: 90px;" ng-click="openModalFiguraGps()" class="aceptarCancelar nowrapHome">Crear ítem</h4>
			   	</div>
			   	<div class = "col colMenuHome">
			   		<h4 ng-click="openVerItemsTurista()" class="aceptarCancelar nowrapHome">Ver ítem</h4>
			   	</div>
			</div>

			<!-- MENU AL PRECINOAR CREAR ITEM-->
	        <div class = "row" style="text-align:center;width:100%;margin-top: 0px;" ng-show="btnCrearMarcador">
			  	<div class = "col colMenuHome">
			   		<h4 style="margin-top: .7px !important;" ng-click="cerrarModalFiguraGps()" class="aceptarCancelar nowrapHome">Volver</h4>
			   	</div>
			   	<div class = "col colMenuHome">
			   		<h4 style="margin-top: .7px !important;" ng-click="openModalMenuAcciones()" class="aceptarCancelar nowrapHome">Confirmar</h4>
			   	</div>
			</div>

			<!-- BOTON VOLVER AL PRESIONAR VER ITEM-->
			<!--<div class = "row" style="text-align:center;width:100%;" ng-show="btnVolverVerItem">
			  	<div class = "col colMenuHome"  style="margin-top: 4px;">
			   		<h4 style="margin-top: 1px !important;" ng-click="volverMenuPrincipal()" class="aceptarCancelar nowrapHome">Volver</h4>
			   	</div>
			</div> -->

			<div class = "row" style="text-align:center;width:100%;" ng-show="btnRecorrerRuta">
			  	<div class = "col colMenuHome" style="margin-top: 5px;">
			   		<h4 style="margin-top: 2px !important;" ng-click="recorrerRuta('volver')" class="aceptarCancelar nowrapHome" >Volver</h4>
			   	</div>
			   	<div class = "col colMenuHome" style="margin-top: 5px;">
			   		<h4 ng-click="recorrerRuta('comenzar')" class="aceptarCancelar" >Comenzar recorrido</h4>
			   	</div>
			</div>

			<div class = "row" style="text-align:center;width:100%;margin-top: 0px;" ng-show="btnRecorriendoRuta">
				<div class="col colMenuHome" ng-hide="btnAgregarItemRutaTipica">
					<button class="button button-clear iconoHeaderBoton" ng-click="openModalFiguraGps()">
		            	<i class='posicionGpsNueva iconHeader'></i>
		        	</button>
				</div>
			  	<div class = "col colMenuHome" ng-hide="btnAgregarItemRutaTipica || pausa != true">
			   		<h4 style="margin-top: .7px !important;" ng-click="recorriendoRuta('volver')" class="aceptarCancelar nowrapHome" style="margin-top: 4px !important;">Volver</h4>
			   	</div>
			   	<div class = "col colMenuHome" ng-hide="btnAgregarItemRutaTipica" >
			   		<h4 style="margin-top: .7px !important;" ng-click="recorriendoRuta('pausar')" class="aceptarCancelar nowrapHome" style="margin-top: 4px !important;">{{textoPausarContinuar}}</h4>
			   	</div>
			   	<div class = "col colMenuHome" ng-hide="btnAgregarItemRutaTipica">
			   		<h4 style="margin-top: .7px !important;" ng-click="recorriendoRuta('terminar')" class="aceptarCancelar nowrapHome" style="margin-top: 4px !important;">Terminar</h4>
			   	</div>
			</div>

			<div class = "row" style="text-align:center;width:100%;margin-top: 0px;" ng-show="btnTerminarAventura">
				
				<div class="col" ng-hide="btnAgregarItemRutaTipica">
		        	
				</div>
				<!-- Patriominos turisticos -->
				<div class="col colMenuHome" ng-hide="btnAgregarItemRutaTipica">
		        	<button class="button button-clear iconoHeaderBoton" ng-click="openPopoverPatrimonios($event)" style="margin-top: -4px !important;"> 
			            <i class='patrimonioNueva iconHeader'></i>
			        </button>
				</div>

		        <!-- Servicios turisticos -->
		        <div class="col colMenuHome" ng-hide="btnAgregarItemRutaTipica">
		        	<button class="button button-clear iconoHeaderBoton" ng-click="openPopoverServicios($event)" style="margin-top: -4px !important;">
		            	<i class='serviciosTuristicosNueva iconHeader'></i>
		        	</button>			
				</div>

				<div class="col colMenuHome" ng-hide="btnAgregarItemRutaTipica">
					<button class="button button-clear iconoHeaderBoton" ng-click="openModalFiguraGps()" style="margin-top: -4px !important;">
		            	<i class='posicionGpsNueva iconHeader'></i>
		        	</button>
				</div>

			   	<div class = "col colMenuHome" ng-hide="btnAgregarItemRutaTipica">
			   		<h4 style="margin-top: -4px !important;" ng-click="terminarAventura()" class="aceptarCancelar terminarAventura">Terminar aventura</h4>
			   	</div>
			</div>

			<div class = "row" style="text-align:center;width:100%;margin-top: 0px;" ng-show="btnMostrarReservaEnMapa">
				<div class = "col colMenuHome" style="margin-top: 4px;">
			   		<h4 ng-click="MostrarModalReservaEnMapaHomeCtrl()" class="aceptarCancelar terminarAventura" style="margin-top: 1px !important;">Volver</h4>
		     	</div>	
			</div>	
		
        </ion-nav-buttons>
		
	</ion-nav-bar>
</ion-view>