<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas"  ng-click="cerrarIniciarMiRecorrido()">
    	<!-- <img src="img/misRecorridos/iniciarRecorrido.png" alt="" class="iconoHeaderModal" style="margin-left: 0%;">
    	<h1 class="title tituloModalFullscreenNuevo fuenteKini fdasasfdfads" >
    		INICIAR MI RECORRIDO
    	</h1> -->
    	<!-- <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
    		<img src="img/misRecorridos/iniciarRecorrido.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;"> INICIAR MI RECORRIDO -->
    	<h1 class="title tituloModalFullscreenNuevo fuenteKini" >
    		<img src="img/misRecorridos/iniciarRecorrido.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;"> INICIAR MI RECORRIDO
    	</h1>
	</ion-header-bar>

  	<!-- <ion-content class='contenido' style="overflow-y : hidden; top: 65px; bottom: 50px;" scroll="false"> -->
  	<ion-content>
    	<div ng-style="styleMapa" id="map_canvas">

    		<div class="contenedorFiltroMiRecorridoAtractivoModal" ng-show="showFiltroAtractivo">
    			<div class="contenedorTituloAtractivos">
    				<span class="cerrarFiltroIniciarMiRecorrido" ng-click="cerrarModalFiltro()">x</span>
    				<img src="img/rutasTipicas/icono atractivo.png" alt="" style="float: left;  height: 20px;  margin-right: 5px; margin-top: 5px; margin-left: 15px">
    				<p class="fuenteRoboto txtTituloModalSelect">Atractivos turísticos</p>
    			</div>
	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  height: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltroMapa" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    			<div class="separadorCafe"></div>
	    		</div>
	    		<!--<div class="separadorBlanco"></div>-->
	    		<div class="contenedorBtnFiltrarAtractivo">
	    			<p class="txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    		</div>
	    	</div>

	    	<div class="contenedorFiltroMiRecorridoServicioModal" ng-show="showFiltroServicio">
	    		<div class="contenedorTituloServicios">
	    			<img src="img/rutasTipicas/servicio turistico-01.png" alt="" style="float: left;  height: 20px;  margin-right: 4px; margin-top: 4px; margin-left: 15px">
	    			<span class="cerrarFiltroIniciarMiRecorrido" ng-click="cerrarModalFiltro()">x</span>
	    			<p class="fuenteRoboto txtTituloModalSelect">Servicios turísticos</p>
	    		</div>
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">
	    			<img src="img/iconoTipoServicio/{{servicio.id_tipo_servicio}}.png" alt="" style="float: left;  width: 30px;  margin-right: 5px; margin-top: 8px;">
	    			<p class="fuenteRoboto textoMenuFiltroMapa" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>
	    			<div class="separadorMorado"></div>
	    		</div>				
	    		<!--<div class="separadorBlanco"></div>-->
	    		<div class="contenedorBtnFiltrarServicio">
	    			<p class="txtTituloModalSelect" ng-click="cerrarModalFiltro()">Filtrar</p>
	    		</div>
	    	</div>

			<div class="contenedorBotonesRutaTipica">
				<img src="img/rutasTipicas/casa.png" alt=""     class="botonesRutaTipica" ng-click="mostrarFiltroServicios()">
				<div></div>
				<img src="img/rutasTipicas/division.png" alt="" class="botonesRutaTipica" ng-click="mostrarFiltroAtractivos()">
				<div></div>
				<img src="img/rutasTipicas/bandera.png" alt=""  class="botonesRutaTipica" ng-click="abrirAddHuella()">
			</div>

    		<div class="contenedorBotonRegistrarHuella" ng-hide="mostrarBotonesRegistrarhuella">
    			<div class="descartarHuella" ng-click="pausarRecorrido()"></div>
    			<div class="addHuella" ng-click="detenerRecorrido()"></div>
    			<img class="btnDejaTuHuella" src="img/rutasTipicas/pausaStop.png" alt="" usemap="#Map" />
    		</div>

    		<div class="contenedorBotonRegistrarHuella" ng-show="mostrarBotonesRegistrarhuella">
    			<div class="descartarHuella" ng-click="descartarHuella()"></div>
          		<div class="addHuella" ng-click="addHuella()"></div>
          		<img class="btnDejaTuHuella" src="img/deja_tu_huella/btn_deja_tu_huella.png" alt="" usemap="#Map" />
    		</div>
    	</div>
  	</ion-content>
</ion-modal-view>