<ion-view hide-nav-bar="true" class="loginBackground" cache-view="false">
  <!--<div id="containerLoading2" style="" data-keyboard="false" > 
    <img alt="" class="imgCargando" style="    position: absolute;
    margin: auto;
    top: -60px;
    left: -54px;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100px;">
    <div class="loader loader--style2" title="1" style="    position: absolute;
    margin: auto;
    top: 0;
    left: 85px;
    right: 0;
    bottom: 0;">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 25 25"
          to="360 25 25"
          dur="0.9s"
          repeatCount="indefinite"/>
        </path>
      </svg>
    </div>
  </div> -->
   <!-- fin container loading-->

  <ion-content class="" style="overflow-y: hidden !important;">
  <!--<div style="width: 25%;">
    <img src="img/logoFic.png" class="logoLogin" style="width: 90%;">
  </div>-->
    
    <!--<img src="img/logoFic.png" class="logoLogin" ng-show="primerUso == false">-->
    <!--<img src="img/logoFic.png" class="logoLogin" ng-show="primerUso == true">-->
    
    <!--<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)" ng-show="primerUso == true">
          <ion-slide>
            <div class="box blue">
              <img src="img/slider/1.jpg" class="carrousel-ionic" style="width: 80%;height: auto;">
            </div>
          </ion-slide>
          
          <ion-slide>
            <div class="box blue">
              <img src="img/slider/2.jpg" class="carrousel-ionic" style="width: 80%;height: auto;">
            </div>
          </ion-slide>
          
          <ion-slide>
            <div class="box blue">
              <img src="img/slider/3.jpg" class="carrousel-ionic" style="width: 80%;height: auto;">
            </div>
          </ion-slide>
          
          <ion-slide>
            <div class="box blue">
              <img src="img/slider/4.jpg" class="carrousel-ionic" style="width: 80%;height: auto;">
            </div>
          </ion-slide>

          <ion-slide>

            <div class="box blue">
              <img src="img/slider/5.jpg" class="carrousel-ionic" style="width: 80%;height: auto;">
            </div>
          </ion-slide>
    </ion-slide-box>-->


    <!-- TEST SLIDER-->
    <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)" ng-hide="ocultarSlider">
          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderUno pager">
              
              <img src="img/slider/atacamagoLogoSlider.png" alt="" class="logoAtacamaSlider">
              <div class="contenedorTextoSlider">
                <p class="fuenteKini textoSlider text-center" style="font-size:20px">DESCUBRE ATACAMA</p>
                <p class="fuenteKini textoSlider text-center" style="font-size:20px;margin-top: -9px;">COMO NUNCA ANTES!</p>
                <br><br>
                <p ng-click="saltarSlider()" class="fuenteKini botonSaltar" >SALTAR</p>
              </div>


            </div>
          </ion-slide>
          
          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderDos pager">
              
              <img src="img/slider/atacamagoLogoSlider.png" alt="" class="logoAtacamaSlider">
              <div class="contenedorTextoSlider">
                <p class="fuenteKini textoSlider text-center" style="font-size:16px">Una app que te recomienda:</p>
                <p class="fuenteKini textoSlider text-center" style="font-size:20px;margin-top: -9px;">ATRACTIVOS TURISTICOS</p>
                <br><br>
                <p ng-click="saltarSlider()" class="fuenteKini botonSaltar" >SALTAR</p>
              </div>
              
            
            </div>
          </ion-slide>
          
          <ion-slide ng-style="estiloIonSlide">
            <div class="box blue sliderTres pager">
              
              <img src="img/slider/atacamagoLogoSlider.png" alt="" class="logoAtacamaSlider">              
              <div class="contenedorTextoSlider">
                <p class="fuenteKini textoSlider text-center" style="font-size:20px">SERVICIOS, RUTAS.</p>
                <p class="fuenteKini textoSlider text-center" style="font-size:20px;margin-top: -9px;">EXPERIENCIAS Y MAS!</p>
                <br><br><br>
              </div>

            </div>
          </ion-slide>

          <ion-slide ng-style="estiloIonSlide" >
            <div class="box blue fondoLogin">

                <img src="img/slider/atacamagoLogoSlider.png" alt="" class="logoAtacamaSlider" style="margin-top: -10%;">

                <form  class="contenedorLogin">
                  <div class="list">
                    <label class="item inputLogin" style="margin-right: 20%; margin-left: 20%; margin-top: 20%; height: 36px;">
                      <div class="circuloMoradoEmail" style="/*margin-top: 3%*/;"></div>
                      <img class="imgPlaceholderLoginCandado" src="img/login/correo.png" alt="" style="/*margin-top: 6%*/;">
                      <input class="inputFormulario" type="text" ng-model="usuario.username" placeholder="Correo" style="/*margin-top: 2%*/;">

                    </label>

                    <label class="item inputLogin" style="margin-right: 20%; margin-left: 20%; margin-top: 5%; height: 36px;">
                      <div class="circuloMoradoPass" style="/*margin-top: 3%*/;"></div>
                      <img class="imgPlaceholderLoginPass" src="img/login/pass.png" alt="" style="/*margin-top: 5%*/;">
                      <input class="inputFormulario" type="password" ng-model="usuario.password" placeholder="Contraseña" style="/*margin-top: 2%*/;">
                    </label>

                    <p ng-click="recuperarContrasena()" class="recuperarContrasena">Recuperar contraseña</p>

                    <div class="modalEmailEnviado" ng-show="modalEmailEnviado">
                      <p class="textoMoradoEmailEnviado">
                        Email enviado<br>correctamente
                      </p>
                    </div>

<div style="justify-content: center; display: flex;">
                    <label class="" style="height: 46px;" ng-click="iniciarSesion(usuario)">
                      <p class="textoIniciarSesion" style="width: 170px; margin-top: 16px; display: inline;">INICIAR SESIÓN</p>
                      <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin"  style="display: inline !important;">
                    </label>
</div>


                    <label class="inputLogin" ng-click="registro()">

                      <div class="btnAzulRegistro">
                        <div class="circuloBlanco"></div>
                        <img class="imgPlaceholderLoginRegistro" src="img/login/registrarse.png" alt="">
                        <p class="textoBtnAzul">Registrarse</p>
                      </div>
                     
                    </label>

                    <label class="inputLogin" ng-click="loginFacebook()">

                      <div class="btnAzulFacebook">
                        <div class="circuloBlanco"></div>
                        <img class="imgPlaceholderLoginFacebook" src="img/login/facebook.png" alt="">
                        <p class="textoBtnAzul">Ingresar Facebook</p>
                      </div>
                      
                    </label>
                  </div>
                </form>
                
                <div class="divModal">
                  <p ng-click="pdf()" class="recuperarContrasena">Manual</p>
                </div>
              </div> 


          </ion-slide>
    </ion-slide-box>

    <!-- TEST SLIDER-->

    <!-- Nuevo Login -->
    <!--
    <div class="fondoLogin">
      <img src="img/slider/atacamagoLogoSlider.png" alt="" class="logoAtacamaSlider">

      <form ng-show="primerUso == false" class="contenedorLogin">
        <div class="list">
          <label class="item inputLogin">
            <div class="circuloMoradoCandado"></div>
            <img class="imgPlaceholderLoginCandado" src="img/login/correo.png" alt="">
            <input style="width: 100%;margin-left: 35px;margin-right: 3%;" type="text" ng-model="usuario.username" placeholder="Correo" >

          </label>

          <label class="item inputLogin">
            <div class="circuloMoradoPass"></div>
            <img class="imgPlaceholderLoginPass" src="img/login/pass.png" alt="">
            <input style="width: 100%;margin-left: 35px;margin-right: 3%;" type="password" ng-model="usuario.password" placeholder="Contraseña" >
          </label>

          <p ng-click="recuperarContrasena()" class="recuperarContrasena">Recuperar contraseña</p>

          <label class="" style="height: 46px;" ng-click="iniciarSesion(usuario)">
            <p class="textoIniciarSesion">INICIAR SESIÓN</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
          </label>

          <label class="inputLogin" ng-click="registro()">

            <div class="btnAzulRegistro">
              <div class="circuloBlanco"></div>
              <img class="imgPlaceholderLoginRegistro" src="img/login/registrarse.png" alt="">
              <p class="textoBtnAzul">Registrarse</p>
            </div>
           
          </label>

          <label class="inputLogin" ng-click="loginFacebook()">

            <div class="btnAzulFacebook">
              <div class="circuloBlanco"></div>
              <img class="imgPlaceholderLoginFacebook" src="img/login/facebook.png" alt="">
              <p class="textoBtnAzul">Ingresar Facebook</p>
            </div>
            
          </label>
        </div>
      </form>
      
      <div class="divModal">
        <p ng-click="pdf()" class="recuperarContrasena">Manual</p>
      </div>
    </div>
    -->
    <!-- Nuevo Login -->

  <!--
    <label class="item buttonLogin" style="height: 46px;width: 200px;" ng-show="primerUso == true">
      <button class="button button-positive btnIngersar" ng-click="omitirPrimerUso()" style="background-color:#3a3189;">  Omitir
      </button>
    </label>

    <form  class="formLogin" ng-show="primerUso == false">
      <div class="list">
        <p class="textIniciarSesion">iniciar sesión <button class="button button-small button-light btnRegistrarse" ng-click="registro()">registrarse</button></p>
        <label class="item inputLogin">        
          <input style="width: 100%;margin-left: 3%;margin-right: 3%;" type="text" ng-model="usuario.username" placeholder="CORREO" >
        </label>
        <label class="item inputLogin">
          <input style="width: 100%;margin-left: 3%;margin-right: 3%;" type="password" ng-model="usuario.password" placeholder="CONTRASEÑA" >
        </label>
        <label class="item buttonLogin" style="height: 46px;">
          <button class="button button-positive btnIngersar" ng-click="iniciarSesion(usuario)" style="background-color:#3a3189;">ingresar</button>
        </label>
        <label class="item buttonLogin" style="height: 46px;">
          <button class="button button-positive btnIngersar" ng-click="loginFacebook()" style="background-color:#3a3189;">ingresar Facebook</button>
        </label>

        <p ng-click="recuperarContrasena()" class="recuperarContrasena">recuperar contraseña</p>
        <p ng-click="pdf()" class="recuperarContrasena">manual</p>
      </div>
    </form>
-->
  </ion-content>
</ion-view>
