<ion-popover-view style="height: 400px;width:120px">
  <ion-content style="margin-top: 15px; margin-bottom: 15px;">
    <div class="col">
    
    <div ng-show="esAndroid" class="row delgadaLineaPatrimonio botonSelectPatrimonioServicio" ng-class="{'menuPatrimonio': !seleccionadoMostrarTodos, 'menuPatrimonioActivo': seleccionadoMostrarTodos}" ng-click="mostrarPatrimonios(-1,-1)">
        <span >Mostrar todos</span>
    </div>
    
    <div class="row delgadaLineaPatrimonio" ng-repeat="atractivo in sub_tipo_atractivo" ng-class="{'menuPatrimonio': !atractivo.seleccionado, 'menuPatrimonioActivo': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">
        <span class="botonSelectPatrimonioServicio">{{atractivo.nombre}}</span>
    </div>
  </ion-content>
</ion-popover-view>