<ion-popover-view style="height: 217px;width:120px">
  <ion-content style="margin-top: 15px; margin-bottom: 15px;">
    <div class="col">
    
    <div class="row delgadaLineaPatrimonio botonSelectPatrimonioServicio" ng-click="openModalFiguraGps()">
        <span class="">Crear ítem</span>
    </div>

    <div class="row delgadaLineaPatrimonio" ng-click="openVerItemsTurista(0)" ng-class="{'menuPatrimonio': !menuVerItemsTrurista, 'menuPatrimonioActivo': menuVerItemsTrurista}" >
        <span class="botonSelectPatrimonioServicio" >Ver mis ítems</span>
    </div>

    <div class="row delgadaLineaPatrimonio" ng-click="openVerItemsTurista(1)" ng-class="{'menuPatrimonio': !menuVerItemsTruristaTotal, 'menuPatrimonioActivo': menuVerItemsTruristaTotal}" >
        <span class="botonSelectPatrimonioServicio" >Ver todos los ítems</span>
    </div>
    
  </ion-content>
</ion-popover-view>