<ion-popover-view style="height: 400px;width:120px">
  	<ion-content style="margin-top: 15px; margin-bottom: 15px;">
    
	    <div class="col">
	    	<div class="row delgadaLineaPatrimonio botonSelectPatrimonioServicio" ng-class="{'menuServicio': !seleccionadoMostrarTodosServicio, 'menuServicioActivo': seleccionadoMostrarTodosServicio}" ng-click="mostrarServiciosTuristicos(-1,-1)">
	        	<span>Mostrar todos</span>
	    	</div>
	    
	    	<div class="row delgadaLineaPatrimonio" ng-repeat="servicio in tipo_servicio" ng-class="{'menuServicio': !servicio.seleccionado, 'menuServicioActivo': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">
	       	 <span class="botonSelectPatrimonioServicio">{{servicio.nombre}}</span>
	    	</div>
	    </div>
    	
  	</ion-content>
</ion-popover-view>