<ion-popover-view style="height: 75px;width:70px">
  <ion-content>
    <div class="col">
    <!--<div class="row">
      <button ng-class="(!btnCrearMarcador) ? 'fadeIn' : 'fadeOut'" class="button button-clear iconoHeaderBoton" ng-click="openModalMisRutas()">
        <i class='misRutasNueva iconHeader'></i>
      </button>
    </div>-->

    <div class="row">
      <button ng-disabled="disableBtnRutasTipicas" ng-class="(!btnCrearMarcador) ? 'fadeIn' : 'fadeOut'" class="button button-clear iconoHeaderBoton" ng-click="openModalRutasTipicas()">
        <i class='rutasTipicasNueva iconHeader'></i>
      </button>
    </div>

    <!--<div class="row">
      <button ng-class="(!btnCrearMarcador) ? 'fadeIn' : 'fadeOut'" class="button button-clear iconoHeaderBoton" ng-click="openModalRutasCompartidas()">
        <i class='rutasCompartidasNueva iconHeader'></i>
      </button>
    </div>-->

  </ion-content>
</ion-popover-view>