<ion-modal-view class="modal_pantalla_completa"  ng-controller="misDatosCtrl">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<!--<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalMisDatos()"> -->
    	<h1 class="title tituloModalFullscreenNuevo fuenteKini" style="">
        	<!-- <img src="img/nuevoHome/misDatos.png" alt="" class="imgHeaderModal"> -->
        	<img src="img/nuevoHome/misDatos.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;"> Mis Datos
        </h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalMisDatos()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <ion-content class="padding paddingRegistro">
		<br>
    	<div ng-click="choosePhoto()">
	        <img ng-show="misDatos.foto==null" class="fotoPerfilMisDatos logoFooterNuevoHome" alt="">
	        <img ng-show="misDatos.foto!=null" class="fotoPerfilMisDatos2" alt="" ng-src="{{misDatos.foto}}">

	        <!-- <i style="margin-top: 0px;margin-left: 10px;" class="editarMenuNueva iconoEditarMisDatos" ng-click="choosePhoto()"></i> -->
	        	<!--<i style="top: 80%;position: absolute;" class="camaraMenu" ng-click="takePhoto()"></i>-->
	   	</div>
		<br>
	   	<div class="nombreUsuarioMisDatos">
	   		<label class="item-input inputNombreUsuarioMisDatos">
          		<input type="text" ng-model="misDatos.nombre" placeholder="Nombre" class="text-center inputNombreUsuarioMisDatos">
        	</label>
	   	</div>
		<br>

       	<div class="list contenedorDatosUsuario">
        	<label class="item-input LabelInputMisDatos">        
        		<img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
        		<span>Correo</span>
          		<input type="text" ng-model="misDatos.correo" placeholder=" Correo" class="inputMisDatos placeholderRight">
          		<img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
        	</label>
        	<div class="separadorMenuMisDatos"></div>

	        <!--<label class="item-input inputLogin">
	        	<img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
	        	<input type="text" ng-model="misDatos.paterno" placeholder="Apellido paterno" class="inputMisDatos">
	        	<img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	        </label>
	        <div class="separadorMenuMisDatos"></div>

	        <label class="item-input inputLogin">
	        	<img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
	          	<input type="text" ng-model="misDatos.materno" placeholder="Apellido materno" class="inputMisDatos">
	          	<img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	        </label> -->

	        <label class="item-input LabelInputMisDatos">
	        	<img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
	        	<span>Cambiar contraseña</span>
	          	<input type="password" ng-model="misDatos.password" placeholder=" Cambiar contraseña" class="inputMisDatos placeholderRight">
	          	<img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	        </label>

	        <div class="separadorMenuMisDatos"></div>
	        <label class="item-input LabelInputMisDatos" ng-click="openDatePicker()" ng-model="misDatos.fechaNac">
	        	<img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
	        	<span>Fecha de nacimiento</span>
	          	<p class="fechaNacimientoMisDatos">{{fechaSeleccionado}}</p>
	          	<img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	        </label>

	        <div class="separadorMenuMisDatos"></div>
		    <label class="item item-input LabelInputMisDatos">
		    	<img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
		    	<span>Sexo</span>
	        	<button class="button button-light icon-right selectSexo misDatosSelectPlaceholder" modal-select ng-model="misDatos.sexo" options="selectables" modal-title="SELECCIÓN DE SEXO" hide-reset="true" cancel-button="_____" on-select="selectSexo(newValue, oldValue)" header-footer-class="bar-assertiveAtacama" selected="true">
	        	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="">
	            	{{sexoSelecionado}}
	            	<div class="option">
	                	{{option}}
	            	</div>
	          	</button>
	          	<img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	        </label>

	        <div class="separadorMenuMisDatos"></div>
	        <label class="item item-input LabelInputMisDatos">
	        	<img src="img/misDatos/iconoInput.png" alt="" class="iconoInputMisdatos">
	        	<span>País</span>
	          	<button class="button button-light icon-right selectSexo misDatosSelectPlaceholder" modal-select ng-model="misDatos.pais" options="nombre_pais" modal-title="SELECCIÓN DE PAÍS" hide-reset="true" cancel-button="_____" on-select="selectPais(newValue, oldValue)" header-footer-class="bar-assertiveAtacama" >
		            {{paisSelecionado}}
		            <div class="option">
		                {{option}}
		            </div>
		        </button>
		        <img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteMenu">
	        </label>
	                 	

           	<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="guardarMisDatos(misDatos)">
           		 <p class="textoIniciarSesion">GUARDAR</p>
           		 <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
           	</div>
           	<!--<div class="row">
	          <div class="col">
	           	<button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalMisDatos()">
	           		<i class="volverAzul iconoBotonMisDatos"></i>
	           	</button>
	          </div>
	          
	          <div class="col">
	            <button class="button button-full button-positive botonMisDatos" ng-click="guardarMisDatos(misDatos)">
	            	<i class="guardarPlomo iconoBotonMisDatos"></i>
	            </button>
	          </div>
	        </div> -->
       	</div>
    </ion-content>
</ion-modal-view>