<ion-modal-view class="modal_pantalla_completa" cache-view="false">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalMisRecorridos()">
    	
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto">
        	<img src="img/nuevoHome/rutasTipicas.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;  "> Mis recorridos
        </h1>
    </ion-header-bar>

    <ion-content class="">


    	<div class="contenedorCuerpo" ng-repeat="recorrido in misRecorridos">
    		<div class="contenedorListaRutasTipicas" ng-click="openModalSaberMas(recorrido)" style="min-height: 76px;">
    			<div class="contenedorRutaTipica">
    				<img ng-show="recorrido.ruta_imagen != 'http://200.14.68.107/atacamaGoMultimedia/files/mis_recorridos' " ng-src="{{recorrido.ruta_imagen}}" alt="" class="imgListaRutasTipicas" style="height: 60px;">
    				<img src="img/nuevoHome/siguiente.png" alt="" class="imgSiguienteListaRutasTipicas">
    		 		<p class="tituloRutaTipica" style="margin-left: 26%">{{recorrido.nombre}}</p>
    				<p class="tituloRutaTipica" style="margin-left: 26%">{{recorrido.fecha}}</p>
    			</div>
    		</div>
    		<div class="lineaSeparadorRutasTipicas"></div>
    	</div>
    	<br>
    	<br>
    	<br>
    	<br>
    	<br>
       	<!--
       	<div class="list paddingRegistro">
			<div class="list">
				<h4>Filtros:</h4>
				<div class = "row">
				  	<div class = "col" style="margin-bottom: 10px;">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'todas'" name="radio">Todas</ion-radio>
				   	</div>
				   	<div class = "col" style="margin-bottom: 10px;">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'enRecorrido'" name="radio">En recorrido</ion-radio>
				   	</div>
				</div>
				<div class = "row">
				   	<div class = "col" style="margin-bottom: 10px;">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'recorridas'" name="radio">Recorridas</ion-radio>
				   	</div>
				   	<div class = "col" style="margin-bottom: 10px;">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'sinRecorrer'" name="radio">Sin recorrer</ion-radio>
				   	</div>
				</div>
				
				<div class="bar bar-royal" style="width: 100% !important;">
	  				<h1 ng-click="filtrar(filtro)" class="title">Filtrar</h1> <!-- reservarNavegador(item.id) -->
			<!--	</div>
				<br>
				<br>
			</div>
			<div class="list" ng-repeat="ruta in rutas_tipicas">
				<label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
					<img ng-show="ruta.imagen != 'http://200.14.68.107/atacamaGoMultimedia/' " ng-src="{{ruta.imagen}}" alt="" width="100%">
				</label>
		        <label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	Nombre: <br> <i class="ion-checkmark rutaTipicaRealizada" ng-show="ruta.estado_ruta == 'completa' || ruta.estado_ruta == 'en curso' "></i> 
		          	{{ruta.nombre_ruta}}
		        </label>
		        <label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	Descripci√≥n: <br>
		          	{{ruta.descripcion_corta_ruta}}
		        </label>
		        <label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	Tipo de turismo: <br>
		          	<p ng-repeat="item in ruta.tipos_servicios" class="wrapping-list">
		          		{{item.nombre_tipos_turismo}}	
		          	</p>
		          	
		        </label>
		        <label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	<span ng-repeat="comuna in ruta.comunas" class="wrapping-list">
		        		{{comuna.nombre_comuna}}
		        	</span>
		        </label>
		        <div class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	<p class="wrapping-list" >{{ruta.calificacion_usuario}} <span class="fechaComentario">({{ruta.calificacion_promedio}} de 5)</span></p>
		        	<div ng-click="addCalificacion(ruta,ruta.calificacion_usuario)">
		         		<rating ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating>
		         	</div>
		        </div>
		        
		        <button ng-show="ruta.estado_ruta == 'en curso'" ng-click="recorrerRuta(ruta.id_ruta,'en curso')" class="button button-full button-royal" style="margin-top: 0px !important;">
  					Continuar ruta	
				</button>

				<button ng-show="ruta.estado_ruta != 'en curso'" ng-click="recorrerRuta(ruta.id_ruta,'no iniciada')" class="button button-full button-royal" style="margin-top: 0px !important;width: 100% !important;">
  					Recorrer ruta	
				</button>
				<button ng-click="openModalSaberMas(ruta)" class="button button-full button-royal" style="margin-top: 0px !important;width: 100% !important;">
  					Saber m√°s
				</button>
        	</div>
        	
          	<div class="row">
	          <div class="col">
	           	<button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalrutastipicas()">
	           		<i class="volverAzul iconoBotonMisDatos"></i>
	           	</button>
	          </div>
	          
	          <div class="col">
	            
	          </div>
	        </div>
       	</div>
       	-->
    </ion-content>


</ion-modal-view>
