<ion-modal-view class="modal_crear_huella" ng-controller="agregarCalificarCtrl">
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalSaberMas()">
        <h1 class="title tituloModalFullscreenNuevo fuenteKini">
        	<<img src="img/nuevoHome/rutasTipicas.png" alt="" class="iconoHeaderModal"> {{tituloCompartir}}
        </h1>
        <button class="button button-clear button-primary" ng-click="volverrutasTipicas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <h1 class="title tituloModalFullscreenNuevo fuenteKini">Calificar</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalAgregarCalificar()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <ion-content class="padding">
       	<h3 clas="text-center">Comparte con tus amigos!</h3>
       	<div class="contenedorRedesSociales">
       		<img src="" alt="">
       		<img src="" alt="">
       	</div>
       
    </ion-content>
</ion-modal-view>