<ion-modal-view class="modal_pantalla_completa"  ng-controller="modalRegistroCtrl">
  <ion-view hide-nav-bar="true" cache-view="false" class="loginBackground" >
  	<ion-content class="contentLogin">
      <form class="formRegistro">
        <div class="list paddingRegistro">
          <p class="textIniciarSesion">nuevo usuario</p>
          <label class="item item-input inputLogin">        
            <input type="text" ng-model="registro.correo" placeholder="CORREO*">
          </label>
          <label class="item item-input inputLogin">
            <input type="text" ng-model="registro.nombre" placeholder="NOMBRE*">
          </label>
          <label class="item item-input inputLogin">
            <input type="text" ng-model="registro.paterno" placeholder="APELLIDO PATERNO*">
          </label>
          <label class="item item-input inputLogin">
            <input type="text" ng-model="registro.materno" placeholder="APELLIDO MATERNO*">
          </label>
          <label class="item item-input inputLogin">
            <input type="password" ng-model="registro.password" placeholder="CONTRASEÑA*">
          </label>
          <label class="item item-input inputLogin">
            <input type="password" ng-model="registro.password2" placeholder="CONTRASEÑA*">
          </label>
          <label class="item item-input inputLogin" ng-click="openDatePicker()" ng-model="registroregistro.fechaNac">
            <p style="color: #acacac;">{{fechaSeleccionado}}</p>
          </label>
          
          <label class="item item-input inputLogin">
            <button class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="registro.sexo" options="selectables" modal-title="SELECCIÓN DE SEXO" hide-reset="true" cancel-button="Cancelar" on-select="selectSexo(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
              {{sexoSelecionado}}
              <div class="option">
                  {{option}}
              </div>
            </button>
          </label>

          <label class="item item-input inputLogin">
            <button class="button button-full button-light" ng-click="choosePhoto()">
            Foto de perfil
            </button>
          </label>
          
          <label class="">
            <img ng-show="tieneSrc" id="imagenItemRegistro" class="imagenItemRegistro" src="">
          </label> 

          <label class="item item-input inputLogin">
            <button class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="registro.pais" options="nombre_pais" modal-title="SELECCIÓN DE PAIS" hide-reset="true" cancel-button="Cancelar" on-select="selectPais(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
              {{paisSelecionado}}
              <div class="option">
                  {{option}}
              </div>
            </button>
          </label>

          <div class="row">
            <div class="col">
              <button ng-click="cancelar()" class="button button-block btnIngersar" >cancelar</button>
            </div>
            
            <div class="col">
              <button ng-click="registrarse(registro)" class="button button-block btnIngersar" >registrarse</button>  
            </div>
          </div>
        </div>

      </form>
      <img alt="" class="logoRegistro">
    </ion-content>
  </ion-view>
</ion-modal-view>