<ion-modal-view class="modal_pantalla_completa"  ng-controller="modalLoginCtrl">
  	<ion-view hide-nav-bar="true" class="loginBackground" cache-view="false">
	  <ion-content class="contentLogin">
	    <img src="img/logoFic.png" class="logoLogin">
	    <form  class="formLogin">
	      <div class="list">
	        <p class="textIniciarSesion">iniciar sesión <button class="button button-small button-light btnRegistrarse" ng-click="registro()">registrarse</button></p>
	        <label class="item inputLogin">        
	          <input style="width: 100%;margin-left: 3%;margin-right: 3%;" type="text" ng-model="usuario.username" placeholder="CORREO" >
	        </label>
	        <label class="item inputLogin">
	          <input style="width: 100%;margin-left: 3%;margin-right: 3%;" type="password" ng-model="usuario.password" placeholder="CONTRASEÑA" >
	        </label>
	        <label class="item buttonLogin" style="height: 46px;" >
	          <button class="button button-positive btnIngersar" ng-click="iniciarSesion(usuario)" style="background-color:#3a3189;">ingresar</button>
	        </label>
	        <label class="item buttonLogin" style="height: 46px;">
          		<button class="button button-positive btnIngersar" ng-click="loginFacebook()" style="background-color:#3a3189;">ingresar Facebook</button>
        	</label>
	        <p ng-click="recuperarContrasena()" class="recuperarContrasena">recuperar contraseña</p>
	        <p ng-click="pdf()" class="recuperarContrasena">manual</p>
	      </div>
	    </form>
	  </ion-content>
</ion-view>

</ion-modal-view>