<ion-modal-view class="modal_pantalla_completa"  ng-controller="modalSliderCtrl">
    <ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen">
        <i class="iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;    font-size: 24px;">Saber más</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalSlider()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
    <ion-content class="padding" id="contenedor_slider">
		<ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="box blue">
              <img src="img/slider/1.jpg" class="carrousel-ionic" ng-style="myStyle">
            </div>
          </ion-slide>
          
          <ion-slide>
            <div class="box blue">
              <img src="img/slider/2.jpg" class="carrousel-ionic" ng-style="myStyle">
            </div>
          </ion-slide>
          
          <ion-slide>
            <div class="box blue">
              <img src="img/slider/3.jpg" class="carrousel-ionic" ng-style="myStyle">
            </div>
          </ion-slide>
          
          <ion-slide>
            <div class="box blue">
              <img src="img/slider/4.jpg" class="carrousel-ionic" ng-style="myStyle">
            </div>
          </ion-slide>

          <ion-slide>

            <div class="box blue">
              <img src="img/slider/5.jpg" class="carrousel-ionic" ng-style="myStyle">
            </div>
          </ion-slide>
    </ion-slide-box>

    </ion-content>
</ion-modal-view>