<ion-modal-view class="modal_pantalla_completa" ng-controller="modificarCalificarCtrl">
    <!--<ion-header-bar class="bar bar-header bar-positive tituloModalFullscreen"> <!-- #b0a4cb
        <i class="estrellaMenuNueva iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;font-size: 17px;">{{item.nombre}}</h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalModificarCalificar()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>-->

    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" style="height: 70px !important;">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalModificarCalificar()">
      <!-- <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="iconoHeaderModal"> -->
      <!-- el h1 tenia clase tituloModalFullscreenNuevo -->
      <h1 class="tituloAtrasEquis title fuenteRoboto tituloModalFullscreenNuevo">
          <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show="imagen_deja_tu_huella == true">
          <img src="img/servicios_blancos/{{item.id_tipo_servicio}}.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'servicio' ">
          <img src="img/blancos_atractivos/{{item.icono}}.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'patrimonio' ">
          {{item.nombre}} 
      </h1>

       <!-- <button class="button button-clear button-primary" ng-click="cerrarModalModificarCalificarMapa()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>-->
    </ion-header-bar>

    <ion-content class="" style="top: 70px !important;">
    	<div class="contenedorMenuAcciones" ng-style="estiloBarraModificar">
            <img ng-src="{{imgCalificar}}" alt="" class="iconoSubTituloMenuAcciones">
            <p class="textoSubTituloMenuAcciones">&nbsp;&nbsp;Calificaciones</p>
      </div>

      <div class="list paddingRegistro">
			<!--
			<p ng-show=" tipo_seleccionado == 'item' " >Seguridad <span class="fechaComentario">({{ratingSeguridad.rate}} de 5)</span></p>			
			<rating ng-show=" tipo_seleccionado == 'item' " ng-model="ratingSeguridad.rate" max="ratingSeguridad.max" disabled></rating>

			<p ng-show=" tipo_seleccionado == 'item' " >Atractivo <span class="fechaComentario">({{ratingAtractivo.rate}} de 5)</span></p>
			<rating ng-show=" tipo_seleccionado == 'item' " ng-model="ratingAtractivo.rate" max="ratingAtractivo.max"></rating>

			<p ng-show=" tipo_seleccionado == 'item' " >Higiene <span class="fechaComentario">({{ratingHigiene.rate}} de 5)</span></p>
			<rating ng-show=" tipo_seleccionado == 'item' " ng-model="ratingHigiene.rate" max="ratingHigiene.max"></rating>
			-->
			<div ng-repeat="calificacion in calificaciones" >
				<p class="txtCalificar" style="margin-left: 20%; margin-top: 5%;">{{calificacion.nombre_calificacion}} <span class="fechaComentario">({{calificacion.promedio}} de 5)</span></p>
				<rating style="margin-left: 30%;" ng-model="calificaciones[$index].puntaje_usuario" max="calificacion.maximo" id="calificarRutasTipicas2"></rating>
				<div class="" style="width: 60%;  height: 1px;  background-color: #A9A9A9; margin-left: 20%;"></div>
			</div>
       	</div>

       	<div>
       		<div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addCalificacionItem(ratingSeguridad.rate, ratingAtractivo.rate, ratingHigiene.rate)">
       		  <p class="textoIniciarSesion">GUARDAR</p>
       		  <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
       		</div>
       	</div>
       	
    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarCalificar()">
	         <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addCalificacionItem(ratingSeguridad.rate, ratingAtractivo.rate, ratingHigiene.rate)">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>