<ion-modal-view class="modal_pantalla_completa" ng-controller="modificarVideoCtrl">
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalModificarVideo()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto">
        	<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="iconoHeaderModal">{{item.nombre}} 
        </h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalModificarVideo()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <ion-content class="">
       	<div class="contenedorMenuAcciones" ng-style="estiloBarraModificar">
            <p class="textoTituloMenuAcciones">Videos</p>
        </div>

    	<div class = "row" >
    		<div class = "col col-50 text-center" >
    		  	<img src="img/desdeArchivo.png" alt="" class="imgModificarImg" ng-click="chooseVideo()">
    		  	<p class="txtMorado">Desde archivo</p>
    		    <!--<i class='add ' ng-click="choosePhoto()"></i>-->
    		</div>

    		<div class = "col col-50 text-center">    		   
    		    <img src="img/tomarFoto.png" alt="" class="imgModificarImg" ng-click="capturarVideo()">
    		    <p class="txtMorado">Tomar Video</p>
    		    <!--<i class='camara ' ng-click="takePhoto()"></i>-->

    		    <div ng-repeat="item in videos" >
				<div class = "row" ng-if="$even">
				  	<div class = "col col-33 text-center">
				   		<div ng-show="videos[$index].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarVideo(videos[$index],$index)"></i></div>
				   		<!--{{videos[$index].fecha}}
				   		<br>
				   		{{videos[$index].nombre}}
				   		<br>-->
				   		<img ng-click="openModalVisorVideo(videos[$index].video)" ng-class="{'imagenItem': hola[$index].foto}" class=" videoNueva" ></img>

				   		<p class="txtComentario txtBlanco">{{videos[$index].nombre}}</p>
				   	</div>
				   	<div class="col col-33 text-center">
				   		<div ng-show="videos[$index+1].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarVideo(videos[$index+1],$index+1)"></i></div>
				   		<!--{{videos[$index+1].fecha}}
				   		<br>
				   		{{videos[$index+1].nombre}}
				   		<br> -->
				   		<img ng-click="openModalVisorVideo(videos[$index+1].video)" ng-class="{'imagenItem': hola[$index+1].foto}" ng-show="videos[$index+1].video" class="videoNueva" ></img>

				   		<p class="txtComentario txtBlanco">{{videos[$index+1].nombre}}</p>
				   	</div>

				   	<div class="col col-33 text-center">
				   		<div ng-show="videos[$index+2].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarVideo(videos[$index+2],$index+1)"></i></div>
				   		<!--{{videos[$index+2].fecha}}
				   		<br>
				   		{{videos[$index+2].nombre}}
				   		<br> -->
				   		<img ng-click="openModalVisorVideo(videos[$index+2].video)" ng-class="{'imagenItem': hola[$index+2].foto}" ng-show="videos[$index+2].video" class="videoNueva" ></img>

				   		<p class="txtComentario txtBlanco">{{videos[$index+2].nombre}}</p>
				   	</div>
				</div>
			</div>
    		</div>
    	</div>

		<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="masVideos(cantVideos)">
           	<p class="textoIniciarSesion">Más videos</p>
        	<img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
        </div>

       	<!--<div class="list">
			
			<div class = "row" ng-hide="noEdita">
				<div class = "col col-33 text-center" >
				  	<p>Desde archivo</p>
				    <i class='add ' ng-click="chooseVideo()"></i>
				</div>
				
				<div class="col col-33 text-center">
				   		<p>Grabar video</p>
				    <i class='camara ' ng-click="capturarVideo()"></i>
				    <!--<a ng-click="addVideoItem()"><p class="text-center">añadir video</p></a>--
				</div>

				 <div class = "col col-33">
				 	Nombre Video: 
				 	<br>
				   	{{nombre.nombre}}
				</div>
			</div>

			<div ng-repeat="item in videos" >
				<div class = "row" ng-if="$even">
				  	<div class = "col col-50 text-center">
				   		<div ng-show="videos[$index].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarVideo(videos[$index],$index)"></i></div>
				   		{{videos[$index].fecha}}
				   		<br>
				   		{{videos[$index].nombre}}
				   		<br>
				   		<img ng-click="openModalVisorVideo(videos[$index].video)" ng-class="{'imagenItem': hola[$index].foto}" class=" videoNueva" ></img>
				   	</div>
				   	<div class="col col-50 text-center">
				   		<div ng-show="videos[$index+1].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarVideo(videos[$index+1],$index+1)"></i></div>
				   		{{videos[$index+1].fecha}}
				   		<br>
				   		{{videos[$index+1].nombre}}
				   		<br>
				   		<img ng-click="openModalVisorVideo(videos[$index+1].video)" ng-class="{'imagenItem': hola[$index+1].foto}" ng-show="videos[$index+1].video" class="videoNueva" ></img>
				   	</div>
				</div>
			</div>

			<button class="button button-block button-royal" ng-click="masVideos(cantVideos)">
  				Más videos
			</button>

       	</div>
       	-->
    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarVideo()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addVideoItem()" ng-hide="noEdita">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>