<ion-modal-view class="modal_pantalla_completa" ng-controller="modificarComentarioCtrl">
    <div class="footerNuevoHome" style="z-index: 9990 !important;">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" style="height: 70px !important;">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalModificarComentario()">
    	<!-- <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="iconoHeaderModal"> -->
    	<!-- el h1 tenia clase tituloModalFullscreenNuevo -->
    	
    	
        <h1 class="tituloAtrasEquis title fuenteRoboto tituloModalFullscreenNuevo">
    	    <img src="img/deja_tu_huella/deja_tu_huella.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show="imagen_deja_tu_huella == true">
    	    <img src="img/servicios_blancos/{{itemSelect.id_tipo_servicio}}.png" alt="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'servicio' ">
    	    <img src="img/blancos_atractivos/{{itemSelect.icono}}.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;" ng-show=" tipo_seleccionado == 'patrimonio' ">

    	  	{{itemSelect.nombre}} 
    	</h1>
    	
        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalModificarComentarioMapa()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

    <ion-content style="top: 70px !important; bottom: 51px !important;">

	    <div class="contenedorMenuAcciones" ng-style="estiloBarraModificar" style="width: 100%">
            <img ng-src="{{imgComentario}}" alt="" class="iconoSubTituloMenuAcciones">
			<p class="textoSubTituloMenuAcciones">&nbsp;&nbsp;Comentarios</p>
        </div>

       	<div class="list" >

			<div class = "row delgadaLinea">
			  	<div class = "col col-25">
			   		<img ng-class="{'imagenItemUsuario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
			   	</div>
			  	<div class = "col col-75">
			   		<textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="Agrega un comentario">
					</textarea>

					<div class="" style="height: 46px;" ng-click="addComentario(item)">
    	       			<p class="textoEnviarComentario " >Enviar</p>
	        			<img src="img/login/btnIngresar.png" alt="" class="btnEnviarComentario" style="margin-right: 10% !important;">
        			</div>
			   	</div>
			</div>

	        <div class = "row delgadaLinea" ng-repeat="comentario in comentarios">
			  	<div class = "col">
			   		<img ng-class="{'imagenItemComentario': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>
			   	</div>	

			  	<div class = "col col-75">
			  		<div class="row">
			  			<!--<div class="col fechaComentario">
				  			{{comentario.fecha_comentario}}
				  		</div>--

				  		<div style="position: absolute;right: 0%;" >
				  			 <div ng-show="id_usuario == comentario.id_usuario" ng-click="deleteComentario(comentario,$index)" ><i class="equisMenuModalAzul" style="margin-right: 10px;margin-top: 0px;color: black;"></i></div>
				  		</div>-->

				  		<div style="position: absolute;right: 10%;" >
				  			 <div ng-show="id_usuario == comentario.id_usuario" ng-click="deleteComentario(comentario,$index)" >
				  			 	<img src="img/rutasTipicas/eliminar.png" alt="" class="imgEliminarcomentario">
				  			 </div>
				  		</div>

				  	</div>
			  		
			  		<div class="fechaComentario margen-comentario" >
				  		{{comentario.texto_comentario}}
				  	</div>
				   	<!--<p>{{comentario.texto_comentario}} <span class="fechaComentario">{{comentario.fecha_comentario}}</span></p>-->
			   	</div>
			   	
			</div>

			<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="masComentarios(cantComentarios)">
    	       	<p class="textoIniciarSesion">Más comentarios</p>
	        	<img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
        	</div>

			<!--<button class="button button-block button-royal" ng-click="masComentarios(cantComentarios)">
  				Más comentarios
			</button> -->

			<!--
			<div class="row">
				<div class="col col-100">
			   		<button class="button button-positive btnIngersar" ng-click="addComentario(item)" style="background-color:#b0a4cb;">agregar comentario</button>
			  	</div>
			</div>-->

       	</div>

       	<!--<div class="list" overflow-scroll="false" ng-hide="esAndroid">

			<div class = "row delgadaLinea">
			  	<div class = "col col-75">
			   		<textarea ng-model="item.comentario" rows="4" cols="15" style="width: 100%;" placeholder="comentario nuevo...">
					</textarea>
			   	</div>
			   	<div class = "col col-25">
			   		<img ng-class="{'imagenItemComentario': foto_perfil_usuario}"  ng-src="{{foto_perfil_usuario}}"></img>
			   	</div> 	
			</div>

	        <div class = "row delgadaLinea" ng-repeat="comentario in comentarios">
			  	<div class = "col col-75">
			  		<div class="row">
			  			<div class="col col-33 col-offset-75 fechaComentario">
				  			{{comentario.fecha_comentario}}
				  			<div ng-show="comentario.id_usuario == id_usuario" ng-click="eliminarImagen(hola[$index],$index)"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></div>
				  		</div>
				  	</div>
			  		
			  		<div>
				  		{{comentario.texto_comentario}}
				  	</div>
				   	<!--<p>{{comentario.texto_comentario}} <span class="fechaComentario">{{comentario.fecha_comentario}}</span></p>
			   	</div>
			   	<div class="col">
			   		<img ng-class="{'imagenItem': comentario.foto_perfil}"  ng-src="{{comentario.foto_perfil}}"></img>
			   	</div>	
			</div>

			<button class="button button-block button-royal" ng-click="masComentarios(cantComentarios)">
  				Más comentarios
			</button>

			<!--
			<div class="row">
				<div class="col col-100">
			   		<button class="button button-positive btnIngersar" ng-click="addComentario(item)" style="background-color:#b0a4cb;">agregar comentario</button>
			  	</div>
			</div>--

       	</div>-->
       	
    </ion-content>
    <!--<ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalModificarComentario()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addComentario(item)">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>
	</ion-footer-bar> -->
</ion-modal-view>