<ion-view cache-view="true" hide-nav-bar="true">
  	<div style="margin-top: 0%;">
  		<!-- <img src="img/nuevoHome/logo_ant.png" alt="" class="logoAtacamaNuevoHome"> -->
  		<img src="img/nuevoHome/info.png" alt="" class="infoNuevoHome" ng-click="tutorial()">	
  	</div>
  	
  	<div style="margin-top: 55px;">
  		<img class="imgMenuIcono imgMenuNuevoExperienciaAtacama" src="img/nuevoHome/experienciaAtacama.png" alt="" ng-style="styleExperienciaAtacama" ng-click="experienciaAtacama()" ng-hide="experienciaSeleccionada" >
      <img class="imgMenuIcono imgMenuNuevoExperienciaAtacama" src="img/nuevoHome/ExperienciaAtacamaSeleccionada.png" alt="" ng-style="styleExperienciaAtacama" ng-click="experienciaAtacama()" ng-show="experienciaSeleccionada" >
      
		<img class="imgMenuIcono imgMenuNuevoExploraDescubre" src="img/nuevoHome/exploraYDescubre.png" alt="" ng-style="styleExploraDescubre" ng-click="exploraDescubre()" ng-hide="exploraDescubreImgSeleccionado" >
    <img class="imgMenuIcono imgMenuNuevoExploraDescubre" src="img/nuevoHome/exploraYDescubreSeleccionado.png" alt="" ng-style="styleExploraDescubre" ng-click="exploraDescubre()" ng-show="exploraDescubreImgSeleccionado" >

		<img class="imgMenuIcono imgMenuNuevoServiciosAtractivos" src="img/nuevoHome/serviciosYAtractivos.png" alt="" ng-style="styleServiciosAtractivos" ng-click="serviciosAtractivos()" ng-hide="serviciosAtractivosImgSeleccionado" >
    <img class="imgMenuIcono imgMenuNuevoServiciosAtractivos" src="img/nuevoHome/serviciosYAtractivosSeleccionado.png" alt="" ng-style="styleServiciosAtractivos" ng-click="serviciosAtractivos()" ng-show="serviciosAtractivosImgSeleccionado" >

  	</div>

  	<div>
  		<p class="txtMenuNuevoHome txtMenuNuevoExperienciaAtacama" ng-style="styleTxtExperienciaAtacama" >
  			EXPERIENCIA
  			<br>
  			ATACAMA
  		</p>
  		<p class="txtMenuNuevoHome txtMenuNuevoExploraDescubre"  ng-style="styleTxtExploraDescubre" >
  			EXPLORA Y
    		<br>
    		DESCUBRE
  		</p>
  		<p class="txtMenuNuevoHome txtMenuNuevoServiciosAtractivos"  ng-style="styleTxtServiciosAtractivos" >SERVICIOS Y<br>ATRACTIVOS</p>
  	</div>

  	<div class="footerNuevoHome">
    	<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome" ng-hide="menuAbierto">
    </div>

  	<ion-content class="contenidoInicio" style="z-index: -1;overflow-y: hidden !important;">
  		
  		<div class="menuNuevoHome">
  			<img menu-toggle="left" class="button iconoMenuNuevoHome" src="img/nuevoHome/menu.png">	
  		</div>
  		<div class="subMenuNuevoHome"></div>
    	</ion-content>

    <ion-content class="margenContent" style="z-index: -1;overflow-y: hidden !important;">
      <div class="fondoNuevoHome" ng-show="exploraDescubreSeleccionado">
        <div class="espaciadorMenuNuevoHome"></div>		
        <div class="contenedorMenuNuevoHome">
    		
          <div ng-click="menuOpcion(3)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgIniciarMiRecorrido.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">INICIAR MI RECORRIDO</p>
              </div>
          </div>

          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(1)">
      				<div class="espacioMenuBtn">
      					<img src="img/nuevoHome/mapaRutaTipicaAtacama.png" alt="" class="imgMenuNuevoHome">
      					<img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
      					<p class="textoMenuNuevoHome">RECORRIDOS FRECUENTES</p>
      				</div>
      		</div>
  				
          <div class="lineaSeparadoraMenuNuevoHome"></div>

      		<div ng-click="menuOpcion(2)">
      				<div class="espacioMenuBtn">
      					<img src="img/deja_tu_huella/huella.png" alt="" class="imgMenuNuevoHome">
      					<img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
      					<p class="textoMenuNuevoHome">DEJA TU HUELLA</p>
      				</div>
      		</div>

  				

  				<div class="lineaSeparadoraMenuNuevoHome"></div>

      		<div ng-click="menuOpcion(4)">
      				<div class="espacioMenuBtn">
      					<img src="img/nuevoHome/imgMisRecorridos.png" alt="" class="imgMenuNuevoHome">
      					<img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
      					<p class="textoMenuNuevoHome">MIS RECORRIDOS</p>
      				</div>
      		</div> 
  				<!--<div class="lineaSeparadoraMenuNuevoHome"></div>-->
          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(8)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgReservas.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">RESERVAS</p>
              </div>
          </div>
<!-- 
          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(22)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgReservas.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">PRUEBA</p>
              </div>
          </div> -->

    	  </div>

    	</div>

      <div class="fondoNuevoHome" ng-show="serviciosAtractivosSeleccionado">
        
        <div class="espaciadorMenuNuevoHome"></div>   
        <div class="contenedorMenuNuevoHome">
        
          <div ng-click="menuOpcion(6)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgServicio.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">SERVICIOS TURÍSTICOS</p>
              </div>
          </div>
          
          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(7)">
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/imgDejaTuHuella.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">ATRACTIVOS TURÍSTICOS</p>
              </div>
          </div>
          
          <div class="lineaSeparadoraMenuNuevoHome"></div>

          <div ng-click="menuOpcion(5)" >
              <div class="espacioMenuBtn">
                <img src="img/nuevoHome/eventosServiciosYAtractivos.png" alt="" class="imgMenuNuevoHome">
                <img src="img/nuevoHome/ver.png" alt="" class="imgVerMenuNuevoHome">
                <p class="textoMenuNuevoHome">EVENTOS</p>
              </div>
          </div>
        </div>

      </div>

        <div class="fondoNuevoHome scrollClass" ng-show="experienciaAtacamaSeleccionado">

            <!-- SE AÑADIO Z-INDEX --
            <div class="contenedorFiltroExperiencia" style="">
                <!-- Se cambio width 
                <div class="contenedorTextoFiltroExperiencia">
                    <img src="img/nuevoHome/filtro.png" alt="" class="imgFiltroRutasTipicas">
                    <p class="textoFiltroRutasTipicas fuenteRoboto" ng-click="mostrarFiltro()">{{filtroActual}}</p>
                </div>
            </div>

            <!-- SE AÑADIO Z-INDEX 
            <div class="contenedorNombreFiltroExperiencia" ng-show="mostrarMenuFiltro">
              <div ng-repeat="comuna in comunas">
                <p class="fuenteRoboto textoMenuFiltro" ng-click="filtrar(comuna.id_comuna)">{{comuna.nombre}}</p>
              <div class="separadorBlanco"></div>  
              </div>
              
            </div>-->

            <!-- SE AÑADIO Z-INDEX -->
            <div class="contenedorExperienciaAtacama" ng-repeat="item in experienciaFiltro">
                <div class="contenedorRosado">
                    <img src="img/experiencia/panelValoracion.png" alt="" class="imgValoracionPuntuacion" ng-show="item.calificacion > 0"><p class="numeroValoracionPuntuacion " ng-show="item.calificacion > 0">{{item.calificacion}}</p>
                    <rating style="pointer-events: none;" ng-show="item.calificacion > 0" class="estrellaValoracionPuntuacion" ng-model="item.calificacion" max="5" id="calificarRutasTipicas"></rating>
                </div>
            
                <img ng-show="item.ruta_archivo_producto_servicio != 'http://200.14.68.107/atacamaGoMultimedia/'" ng-src="{{item.ruta_archivo_producto_servicio}}" alt="" class="imgExperienciaAtacama">
                
                <div class="contenedorAccionesExperiencia" ng-click="detalleExperiencia(item)">
                    <img src="img/experiencia/audio.png" alt="" class="imgSiguienteMenuExperiencia">
                    <p class="fuenteRoboto text-center txtNombreExperiencia" >{{item.nombre_producto}}</p>

                </div>  
            </div>
           
        </div>


  	</ion-content>
		

	
</ion-view>