<ion-modal-view class="modal_pantalla_completa"  ng-controller="preferenciasDetalleCtrl">
    <div class="footerNuevoHome">
        <img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
    </div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" style="height: 60px !important;">

        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalPreferenciasDetalle()">
        <h1 class="title tituloModalFullscreenNuevo fuenteKini">
            <img src="img/preferencias/logo.png" alt="" class="" style="width: 16px; height: 16px;">&nbsp;&nbsp;&nbsp;Preferencias
        </h1>
        <button class="button button-clear button-primary" ng-click="goToNuevoLogin()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <ion-content class="" style="top: 60px !important; margin-top: -7px !important;">
       	<div ng-show="flagPreferencias == 1" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">¿Viajas solo o acompañado?</p>
            </div>

            <ion-radio class="item" ng-model="cuestionario.soloAcom" ng-value="'TRUE'" name="solo-radio" ng-click="solo()" style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;Solo</ion-radio>
            <ion-radio class="item" ng-model="cuestionario.soloAcom" ng-value="'FALSE'" name="solo-radio" ng-click="acompanado()" style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;Acompañado</ion-radio>

            <div ng-show="mostrarAcompanado">
              <p ng-show="noRespondeNumeroPersonas == false">¿Con cuántas personas viaja?</p>
              <p ng-show="noRespondeNumeroPersonas" style="color:red">¿Con cuántas personas viaja?</p>
              <label class="item item-input inputLogin">        
                <input type="number" ng-model="cuestionario.numeroPersonas" placeholder="NÚMERO DE PERSONAS">
              </label>
            </div>

            <div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="guardarTodo(cuestionario)">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>

        </div>

        <div ng-show="flagPreferencias == 2" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Radio de alcance</p>
            </div>

            <ion-radio class="item-text-wrap" ng-model="radio.radio" ng-value="'50.000'" name="radio-radio">&nbsp;&nbsp;&nbsp;&nbsp;50 metros</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="radio.radio" ng-value="'100.000'" name="radio-radio">&nbsp;&nbsp;&nbsp;&nbsp;100 metros</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="radio.radio" ng-value="'500.000'" name="radio-radio">&nbsp;&nbsp;&nbsp;&nbsp;500 metros</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="radio.radio" ng-value="'999.000'" name="radio-radio">&nbsp;&nbsp;&nbsp;&nbsp;1 kilómetro</ion-radio>

            <div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="guardarConfiguracion()">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>
        </div>

        <div ng-show="flagPreferencias == 3" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Gasto promedio diario (por persona)</p>
            </div>

            <label class="item item-input inputLogin">        
                <input type="number" ng-model="cuestionario.gasto" placeholder="DINERO">
            </label>

            <div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="guardarTodo()">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>
        </div>

        <div ng-show="flagPreferencias == 4" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Seleccione moneda</p>
            </div>

            <ion-radio  class="item-text-wrap" ng-model="cuestionario.moneda" ng-value="'peso'" name="moneda">&nbsp;&nbsp;&nbsp;&nbsp;Peso</ion-radio>
            <ion-radio  class="item-text-wrap" ng-model="cuestionario.moneda" ng-value="'dolar'" name="moneda">&nbsp;&nbsp;&nbsp;&nbsp;Dólar</ion-radio>

            <div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="guardarTodo()">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>
        </div>

        <div ng-show="flagPreferencias == 5" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Duración de estadía</p>
            </div>

            <label class="item item-input inputLogin">        
              <input type="number" ng-model="cuestionario.duracion" placeholder="DIAS">
            </label>

            <div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="guardarEstadia()">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>
        </div>

        <div ng-show="flagPreferencias == 6" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Tipo de viaje</p>
            </div>

            <span style="color: #4d4c4c;">Puedes seleccionar mas de una respuesta</span>
                <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list" ng-model="cuestionario.tipoViaje.vacaciones"  ng-style="{'background':cuestionario.tipoViaje.vacaciones == true ? '#3A2B86': '#8071B1'}" >Vacaciones/Descanso/Ocio</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list" ng-model="cuestionario.tipoViaje.familiares"  ng-style="{'background':cuestionario.tipoViaje.familiares == true ? '#3A2B86': '#8071B1'}">Visita a Familiares/Amigos</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list" ng-model="cuestionario.tipoViaje.educacion"  ng-style="{'background':cuestionario.tipoViaje.educacion == true ? '#3A2B86': '#8071B1'}">Educación/Formación</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list" ng-model="cuestionario.tipoViaje.salud"  ng-style="{'background':cuestionario.tipoViaje.salud == true ? '#3A2B86': '#8071B1'}">Salud</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list" ng-model="cuestionario.tipoViaje.religioso" ng-style="{'background':cuestionario.tipoViaje.religioso == true ? '#3A2B86': '#8071B1'}" >Religiosos/Peregrinaciones</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list" ng-model="cuestionario.tipoViaje.compras" ng-style="{'background':cuestionario.tipoViaje.compras == true ? '#3A2B86': '#8071B1'}">Compras</ion-checkbox>
                <br>
                <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list" ng-model="cuestionario.tipoViaje.negocios" ng-style="{'background':cuestionario.tipoViaje.negocios == true ? '#3A2B86': '#8071B1'}">Negocios/Profesionales</ion-checkbox>

                <div class="btnGuardarPreferenciasDetalle" style="height: 46px;margin-top:40px" ng-click="guardarTodo()">
                    <p class="textoIniciarSesion">GUARDAR</p>
                    <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
                </div>
                <br>
                <br>
                <br>
        </div>

        <div ng-show="flagPreferencias == 7" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Medio de transporte</p>
            </div>

            <ion-radio class="item-text-wrap" ng-model="cuestionario.transporte" ng-value="'Vehículo particular'" name="transporte-radio">&nbsp;&nbsp;&nbsp;&nbsp;Vehículo particular</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.transporte" ng-value="'Vehículo arrendado'" name="transporte-radio">&nbsp;&nbsp;&nbsp;&nbsp;Vehículo arrendado</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.transporte" ng-value="'Transporte público'" name="transporte-radio">&nbsp;&nbsp;&nbsp;&nbsp;Transporte público</ion-radio>

            <div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="guardarTodo()">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>
        </div>

        <div ng-show="flagPreferencias == 8" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Actividades que realizará</p>
            </div>

            <!--<span style="color: #4d4c4c;">Puedes seleccionar mas de una respuesta</span>-->
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.deportes"
              ng-style="{'background':cuestionario.actividades.deportes == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}"
               >Deportes de playa y acuáticos (Turismo náutico)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.casinos"
              ng-style="{'background':cuestionario.actividades.casinos == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}"
              >Visitar Casinos / Salas de juegos (Turismo tradicional)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.rurales"
              ng-style="{'background':cuestionario.actividades.rurales == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}"
              >Actividades rurales (Turismo rural agropecuario)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.originarios"
              ng-style="{'background':cuestionario.actividades.originarios == true ? '#3A2B86': '#8071B1, 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px''}"
              >Actividades relacionadas a pueblos originarios (Turismo con pertinencia indígena)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.exursiones"
              ng-style="{'background':cuestionario.actividades.exursiones == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">Excursiones náuticas, cruceros (Turismo náutico)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.enoturismo"
              ng-style="{'background':cuestionario.actividades.enoturismo == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">Visita a viñas y zonas de producción vinícolas (Enoturismo)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.aventura"
              ng-style="{'background':cuestionario.actividades.aventura == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}"
              >Recreativas y deportivas de montaña y nieve (Turismo aventura)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.especiales"
              ng-style="{'background':cuestionario.actividades.especiales == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">Rutas de interés temático (Turismo de intereses especiales)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.playa"
              ng-style="{'background':cuestionario.actividades.playa == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">Actividades de Playa (Turismo tradicional)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.naturaleza"
              ng-style="{'background':cuestionario.actividades.naturaleza == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">Visitar Áreas Protegidas, ecoturismo, observación de paisaje, flora y fauna (Turismo Naturaleza)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.reuniones"
              ng-style="{'background':cuestionario.actividades.reuniones == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}"
              >Actividades Profesionales (Turismo de reuniones)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.gastronomia"
              ng-style="{'background':cuestionario.actividades.gastronomia == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}"
              >Gastronomía (Turismo cultural)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.museos"
              ng-style="{'background':cuestionario.actividades.museos == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}"
              >Visitar a museos, centros históricos, monumentos (Turismo cultural)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.astronomicos"
              ng-style="{'background':cuestionario.actividades.astronomicos == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">Visitas a observatorios astronómicos (Turismo Astronómico)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.ocio"
              ng-style="{'background':cuestionario.actividades.ocio == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">Ocio-Descanso (Turismo tradicional)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.cityTour"
              ng-style="{'background':cuestionario.actividades.cityTour == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">City tour (Turismo tradicional)</ion-checkbox>
              <div class="separadorPreferenciasDetalle"></div>
              <ion-checkbox class="checkboxConfiguracion item-checkbox-right wrapping-list checkBoxMinimo" ng-model="cuestionario.actividades.otro"
              ng-style="{'background':cuestionario.actividades.otro == true ? '#3A2B86': '#8071B1', 'padding-top' : '30px', 'padding-right' : '40px', 'padding-bottom' : '30px'}">Otro</ion-checkbox>

              <div style="height: 100%;margin-bottom: 60px;margin-top: 25px;" ng-click="guardarTodo()">
                  <p class="textoIniciarSesion">GUARDAR</p>
                  <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
              </div>

              <br><br><br><br><br><br>
        </div>

        <div ng-show="flagPreferencias == 9" style="margin-bottom: 60px;" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Tipo de servicio de alojamiento</p>
            </div>

            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="1" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Hotel</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="2" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Hostería</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="3" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Residencial/Hostal</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="4" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Apart hotel</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="5" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Cabaña arrendada</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="6" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Habitación arrendada</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="7" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Camping</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="8" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Crucero</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="9" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Casa/Depto De Familiares/Amigos</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="10" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Casa/Depto Arrendado</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="11" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Casa/Depto Propio</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoServicio" ng-value="12" name="cuestionario-radio">&nbsp;&nbsp;&nbsp;&nbsp;Otro</ion-radio>

            <div class="" style="height: 46px;" ng-click="guardarTodo()">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>

            <br><br><br><br><br><br>
        </div>

        <div ng-show="flagPreferencias == 10" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Tipo de comida</p>
            </div>

            <ion-radio class="item-text-wrap" ng-model="cuestionario.comida" ng-value="'Comida casera'" name="comida-radio">&nbsp;&nbsp;&nbsp;&nbsp;Comida casera</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.comida" ng-value="'Comida gourmet'" name="comida-radio">&nbsp;&nbsp;&nbsp;&nbsp;Comida gourmet</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.comida" ng-value="'Comida rápida'" name="comida-radio">&nbsp;&nbsp;&nbsp;&nbsp;Comida rápida</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.comida" ng-value="'Comida típica'" name="comida-radio">&nbsp;&nbsp;&nbsp;&nbsp;Comida típica</ion-radio>

            <div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="guardarTodo()">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>
        </div>

        <div ng-show="flagPreferencias == 11" class="contenedorPreferencias">
            <div class="contenedorRadioAlcance text-center">
                   <p class="textoRadioAlcance">Tipo de tours</p>
            </div>

            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoTours" ng-value="'Tours auto-guiados'" name="tipo-tours">&nbsp;&nbsp;Tours auto-guiados</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoTours" ng-value="'Tours con operadores o guías de turismo especializados'" name="tipo-tours">&nbsp;&nbsp;Tours con operadores o guías de turismo especializados</ion-radio>
            <ion-radio class="item-text-wrap" ng-model="cuestionario.tipoTours" ng-value="'Otro'" name="tipo-tours">&nbsp;&nbsp;Otro</ion-radio>

            <div class="btnGuardarPreferenciasDetalle" style="height: 46px;" ng-click="guardarTodo()">
                <p class="textoIniciarSesion">GUARDAR</p>
                <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
            </div>
        </div>

    </ion-content>
</ion-modal-view>