<ion-modal-view cache-view="false">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarRecorrerRutaTipicas()">
      <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
        <img src="img/rutasTipicas/localizador.png" alt="" class="" style="height:15px;  margin-top: 0%;  margin-right: 0%;"> {{ruta.nombre_ruta}}
      </h1>
      <button class="button button-clear button-primary" ng-click="cerrarRecorrerRutaTipicas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
	</ion-header-bar>

  	<ion-content class="contenido" style="overflow-y : hidden;  z-index: 5" scroll="false">
    	<div ng-style="styleMapa" id="map_canvas">
    		
        <div class="contenedorBotonesRutaTipica">
         
          <img src="img/rutasTipicas/bandera.png" alt=""  class="botonesRutaTipica" ng-click="addHuella()">
        </div>

        <div class="contenedorBotonRegistrarHuella" ng-hide="mostrarBotonesRegistrarhuella">
          <div class="descartarHuella" ng-click="pauseRutaTipica()" ng-show="watchRutaTipica != null"></div>
          <div class="addHuella" ng-click="stopRutaTipica()"></div>
          <img class="btnDejaTuHuella" src="img/rutasTipicas/pausaStop.png" alt="" usemap="#Map" />
        </div>

        <div class="contenedorBotonRegistrarHuella" ng-show="mostrarBotonesRegistrarhuella">
          <div class="descartarHuella" ng-click="descartarHuella()"></div>
          <div class="addHuella" ng-click="addHuellaConfirmar()"></div>
          <img class="btnDejaTuHuella" src="img/deja_tu_huella/btn_deja_tu_huella.png" alt="" usemap="#Map">

        </div>

    	</div>
 
  	</ion-content>
		
	</ion-nav-bar>
</ion-modal-view>