<ion-modal-view cache-view="false">

	<div class="footerNuevoHome" style="z-index: 2147483647;">
  		<img src="img/nuevoHome/logo.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" style="z-index: 2147483647;">
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="atrasRecorrerRutaTipicasOffline()">
    	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
    		<img src="img/rutasTipicas/localizador.png" alt="" class="" style="height:20px;  margin-top: 3%;  margin-right: 1%;"> {{ruta.nombre_ruta}}
    	</h1>
      <button class="button button-clear button-primary" ng-click="cerrarRecorrerRutaTipicasOffline()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
	</ion-header-bar> 

<div style="z-index: 0; margin-top: 65px; margin-bottom: 60px; /*width: 100%;*/ height: calc(100% - 115px);">
    <div id="mapid" style="/*width: 100%;*/ /*height: 100%;*/ /*margin-top: 65px;*/ /*margin-bottom: 60px;*/ /*z-index: 0;*/ "></div>
</div>
		
</ion-modal-view> 