<ion-view hide-nav-bar="true" cache-view="false" class="loginBackground" >
  <!--
  <div id="containerLoading" style="" data-keyboard="false"> 
    <img alt="" class="imgCargando" style="    position: absolute;
    margin: auto;
    top: -60px;
    left: -54px;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 100px;">
    <div class="loader loader--style2" title="1" style="    position: absolute;
    margin: auto;
    top: 0;
    left: 85px;
    right: 0;
    bottom: 0;">
      <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <path fill="#000" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
        <animateTransform attributeType="xml"
          attributeName="transform"
          type="rotate"
          from="0 25 25"
          to="360 25 25"
          dur="0.9s"
          repeatCount="indefinite"/>
        </path>
      </svg>
    </div>
  </div> fin container loading-->

  <ion-content style="overflow-y: hidden !important;" >
    <img src="img/slider/atacamagoLogoSlider.png" alt="" class="logoAtacamaSlider">
    <div class="registroVolverAzul">
      <p class="textoRegistroVilverAzul">REGISTRARSE</p>
      <img ng-click="cancelar()" src="img/registro/atras.png" alt="" class="imgBotonAtrasRegistro">
    </div>

    <form class="" style="margin-top: 60px">
      <div class="list">
        
        <label class="item inputLogin" style="margin-left: 20%; margin-right: 20%; ">
          <div class="circuloMoradoEmail"></div>
          <img class="imgPlaceholderLoginCandado" src="img/login/correo.png" alt="">
          <input class="inputFormulario" type="text" ng-model="registro.correo" placeholder="Correo">
        </label>

        <label class="item inputLogin" style="margin-left: 20%; margin-right: 20%; margin-top: 3%;">
          <div class="circuloMoradoPass"></div>
          <img class="imgPlaceholderNombreApellido" src="img/registro/nombreApellido.png" alt="">
          <input class="inputFormulario" type="text" ng-model="registro.nombre" placeholder="Nombre y apellido">
        </label>

        <label class="item inputLogin" style="margin-left: 20%; margin-right: 20%; margin-top: 3%;">
          <div class="circuloVerdePass"></div>
          <img class="imgPlaceholderLoginPass" src="img/login/pass.png" alt="">
          <input class="inputFormulario" type="password" ng-model="registro.password" placeholder="Contraseña">
        </label>

        <label class="item inputLogin" style="margin-left: 20%; margin-right: 20%; margin-top: 3%; margin-bottom: 6%;">
          <div class="circuloVerdePass"></div>
          <img class="imgPlaceholderLoginPass" src="img/login/pass.png" alt="">
          <input class="inputFormulario" type="password" ng-model="registro.password2" placeholder="Repetir contraseña">
        </label>
        
        <div style="justify-content: center; display: flex; margin-bottom: 15em;">
          <label class="" ng-click="registrarse(registro)" style="width: 180px;">
            <p class="textoIniciarSesion" style="width: 170px; margin-top: 16px; display: inline;">REGISTRAR</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin" style="display: inline !important;">
          </label>
        </div>
        <!--<div class="row">
          <div class="col">
            <button ng-click="cancelar()" class="button button-block btnIngersar" >cancelar</button>
          </div>
          
          <div class="col">
            <button ng-click="registrarse(registro)" class="button button-block btnIngersar" >registrarse</button>  
          </div>
        </div> -->
      </div>

    </form>

    <!--
    <form class="formRegistro">
      <div class="list paddingRegistro">
        <p class="textIniciarSesion">nuevo usuario</p>
        <label class="item item-input inputLogin">        
          <input type="text" ng-model="registro.correo" placeholder="CORREO*">
        </label>
        <label class="item item-input inputLogin">
          <input type="text" ng-model="registro.nombre" placeholder="NOMBRE*">
        </label>
        <label class="item item-input inputLogin">
          <input type="text" ng-model="registro.paterno" placeholder="APELLIDO PATERNO*">
        </label>
        <label class="item item-input inputLogin">
          <input type="text" ng-model="registro.materno" placeholder="APELLIDO MATERNO*">
        </label>
        <label class="item item-input inputLogin">
          <input type="password" ng-model="registro.password" placeholder="CONTRASEÑA*">
        </label>
        <label class="item item-input inputLogin">
          <input type="password" ng-model="registro.password2" placeholder="CONTRASEÑA*">
        </label>
        <label class="item item-input inputLogin" ng-click="openDatePicker()" ng-model="registroregistro.fechaNac">
          <p style="color: #acacac;">{{fechaSeleccionado}}</p>
        </label>
        
        <label class="item item-input inputLogin">
          <button class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="registro.sexo" options="selectables" modal-title="SELECCIÓN DE SEXO" hide-reset="true" cancel-button="Cancelar" on-select="selectSexo(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
            {{sexoSelecionado}}
            <div class="option">
                {{option}}
            </div>
          </button>
        </label>

        <label class="item item-input inputLogin">
          <button class="button button-full button-light" ng-click="choosePhoto()">
          Foto de perfil
          </button>  
        </label>
        
        <label class="">
          <img ng-show="tieneSrc" id="imagenItemRegistro" class="imagenItemRegistro" src="">
        </label> 

        <label class="item item-input inputLogin">
          <button class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="registro.pais" options="nombre_pais" modal-title="SELECCIÓN DE PAIS" hide-reset="true" cancel-button="Cancelar" on-select="selectPais(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
            {{paisSelecionado}}
            <div class="option">
                {{option}}
            </div>
          </button>
        </label>

        <div class="row">
          <div class="col">
            <button ng-click="cancelar()" class="button button-block btnIngersar" >cancelar</button>
          </div>
          
          <div class="col">
            <button ng-click="registrarse(registro)" class="button button-block btnIngersar" >registrarse</button>  
          </div>
        </div>
      </div>

    </form>
    -->

    <!--<img alt="" class="logoRegistro">-->
  </ion-content>
</ion-view>
