<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarReservaVer()">
    	<h1 class="title tituloModalFullscreenNuevo fuenteRoboto" style="margin-left:28px;">
    		Reserva servicio
    	</h1>
      <button class="button button-clear button-primary" ng-click="cerrarReservaVerHome()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
	</ion-header-bar>

  	<ion-content style="overflow-y : hidden;  z-index: 5" scroll="false">
    	<div style="width:100%; height:100%;overflow-y : hidden;" id="map_canvas222" ng-style="styleMapa" >
    	</div>
  	</ion-content>
</ion-modal-view>