<ion-modal-view  class="modal_pantalla_completa" ng-controller="reservasMensajesCtrl">
    <div class="footerNuevoHome">
        <img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
    </div>
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" style="height: 63px !important;">
            <!-- <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarReservas()"> -->
            <img src="img/reservas/logo.png" alt="" class="imgHeaderModal" ng-click="">
            <h1 class="title tituloModalFullscreenNuevo fuenteKini">
                Reservas
            </h1>
            <button class="button button-clear button-primary" ng-click="cerrarModalMensajesReserva()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>

    </ion-header-bar>  

    <ion-content class="padding" style="margin-bottom: 14%;">
       	<div class="reserMens" style="height: 50px;  background-color: #EA700C;  width: 110%; margin-left: -3%; /*margin-top: -1%;*/ margin-top: -10px; position: relative; z-index: 6;">
            <img src="img/reservas/invMensaje.png" alt="" class="iconoSubTituloMenuAcciones">
            <p class="textoSubTituloMenuAcciones">Mensajes</p>
        </div>

          <div class="" style="padding-left: 5%;  padding-right: 5%; margin-bottom: 15%;z-index: -1;">   
              <div class="row">
                  <div class="col col-25">
                      <img class="fotoPerfilReserva" ng-src="{{foto}}" style="border-style: solid; border-radius:80%;  width: 50px;  height: 50px;">
                  </div>
                  <div class="col">
                      <textarea ng-model="$parent.mensaje" rows="4" cols="4" style="width: 100%;height: 70px;" placeholder="Agrega un comentario">
                      </textarea> 
                  </div>
              </div>
              
                

              <div class="btnGuardarMisDatos" style=" float: right;">
                <h1 ng-click="addMensaje()" class="" style="position: absolute;    width: 100px;    text-align: center;    margin-top: 10px;    color: white;    font-weight: 700;    font-size: 15px; margin-right: -25%;" >Enviar</h1> <!-- reservarNavegador(item.id) -->
                <img src="img/login/btnIngresar.png" alt="" class="" style="width: 100px;  height: 40px;  display: block; " >
              </div>
          </div>

          

  			  <div class="list paddingRegistro" ng-repeat="mensaje in mensajes" style="margin: 0%; ">
              <div style="  height:1px;  background:#454849;  border-bottom:1px solid #454849; width: 120%; margin-left: -10%;"></div>


              <div class="row" style="margin-bottom: 0%;">
                  <div class="col col-75" style="margin: 10px;" >
                      <div class="row" style="float: right; margin: 0%;">
                          <p style="width: 200px;  margin: 5px auto 0; text-align: right;  padding: 1em;">{{mensaje.mensaje}}</p> 
                      </div>
                      <div class="row">
                          <p style="font-size: smaller; margin-left: 60%">{{mensaje.fecha}}</p> 
                      </div>                      
                  </div>
                  <div class="col" style="margin-top: 10%;">
                      <img class="fotoPerfilReserva" src="{{mensaje.foto_perfil}}">
                  </div>
              </div>

              <!-- <div ng-show="mensaje.tipo == 'turista'">
                <div class="col borderMensajes1" style="position: absolute;right: 0;">
                        {{mensaje.mensaje}}
                    <span style="position: absolute;right: 0;">{{mensaje.fecha}}</span>
                </div>


                <div class="col">
                    <img src="{{mensaje.foto_perfil}}" style="height: 40px;">
                    <span style="position: absolute;right: 0;">{{mensaje.tipo}}</span>
                </div>
                    
                
  	        	
  	           </div> -->

       	</div>
    </ion-content>
</ion-modal-view>