<ion-modal-view class="modal_pantalla_completa"  ng-controller="reservasCtrl" cache-view="true">
   	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome" style="z-index: 999;">
  	</div>

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarReservas()">
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" style="">
			<img src="img/reservas/logo.png" alt="" class="imgHeaderModal" ng-click="cerrarModalReservas()" style="width: 15px; height: 15px; margin-right: 1% !important; margin-left: 1% !important;">
        	RESERVAS
        </h1>
        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalReservas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->

    </ion-header-bar>

<!--     	<div class="contenedorFiltroReservas bar bar-subheader" style="top: 60px !important;">
    		<div class="contenedorTextoFiltroReservas">
    			<img src="img/nuevoHome/filtro.png" alt="" class="imgFiltroRutasTipicas" style="margin-top: 0px !important;" > -->
    			<!--<p class="textoFiltroRutasTipicas fuenteKini">En curso</p> -->
<!--     			<div class="selectSexoreservas fuenteKini" modal-select ng-model="misDatos.sexo" options="selectables" modal-title="Filtro" hide-reset="true" cancel-button="_____" on-select="selectFiltro(newValue, oldValue)" header-footer-class="bar-assertiveAtacama" style="margin-top: 0px !important; height: 30px !important;">
		            	{{filtroSeleccionado}}
		            	<div class="option">
		                	{{option}}
		            	</div>
		        </div>
    		</div>
    	</div> -->
    	<div class="contenedorFiltroReservas bar bar-subheader" style="top: 60px !important;">
			<div style='/*position:absolute; top:0px; right:0px; bottom:50px; left:0px; overflow-y:scroll;*/ overflow-x: hidden;'>
		    	<div class="contenedorFiltro" ng-click="mostrarFiltro()">
		    		<div class="contenedorTextoFiltro" >
		    			<img src="img/nuevoHome/filtro.png" alt="" class="imgFiltroRutasTipicas"  style="margin-top: 4px;">
		    			<p class="textoFiltroRutasTipicas fuenteKini" style="float: right; margin-top: -8px;" >{{filtroActual}}&ensp;</p>
		    		</div>
		    	</div>
		    	<div class="contenedorNombreFiltroReservas" ng-show="mostrarMenuFiltro">
	    			<div class="separadorBlanco"></div>
		    		<p class="fuenteKini textoMenuFiltro" ng-click="filtrar('En Curso')">En Curso</p>
					<div class="separadorBlanco"></div>
		    		<p class="fuenteKini textoMenuFiltro" ng-click="filtrar('Cerradas')">Cerradas</p>
					<div class="separadorBlanco"></div>
		    		<p class="fuenteKini textoMenuFiltro" ng-click="filtrar('Todos')">Todos</p>
		    		<div class="separadorBlanco"></div>
		    	</div>
		    </div>
		</div>

    <ion-content class="contenido padding" style=" top: 55px !important; bottom: 40px;">

    	

       	<div class="list contenedorDatosUsuario">
			<!--<div class="list">
				<h4>Filtros:</h4>
				<label class="item item-input inputLogin">
		        	<button class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="misDatos.sexo" options="selectables" modal-title="Filtro" hide-reset="true" cancel-button="_____" on-select="selectFiltro(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
		            	{{filtroSeleccionado}}
		            	<div class="option">
		                	{{option}}
		            	</div>
		          	</button>
		        </label>
		        <!--
				<div class = "row">
				  	<div class = "col">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'En curso'" name="radio">En curso</ion-radio>
				   	</div>
				   	<div class = "col">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'Cerradas'" name="radio">Cerradas</ion-radio>
				   	</div>
				</div>
				
				<div class="bar bar-royal" style="background-color:#3a3189;">
	  				<h1 ng-click="filtrar(filtro)" class="title">Filtrar</h1> <!-- reservarNavegador(item.id)
				</div>-->
				<!--
				<br>
				<br>
			</div> -->
			
			<!--<hr style="border-top: 4px dotted #3A3189;margin-top: 15px;margin-bottom: 15px;"> -->



			<div ng-show="!reservas" class="list">
				<div class="espaciadorReservas"></div>
		        <label class="item-input inputLogin" style="white-space: initial;">
		        	No hay reservas
		        </label>
			</div>
			<div class="list" ng-repeat="reserva in reservas">
				<img src="img/reservas/punto.png" alt="" class="iconoReserva">
		        <div class="item-input inputLogin" style="white-space: initial;">
		        	<p style="margin-top: -20px;" ng-click="mostrarReservaEnMapa(reserva.id_servicio_turistico)"><i class="gpsNaranjoEventos"></i></p>
		        	Nombre Servicio: <br>
		          	{{reserva.nombre_servicio}}
		        </div>
		        <div class="espaciadorReservas"></div>

		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Fecha inicio: {{reserva.fecha_inicial_reserva}} <br>
		        	Fecha término: {{reserva.fecha_final_reserva}}      	
		        </label>
		        <div class="espaciadorReservas"></div>

		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Personas: {{reserva.numero_personas}}
		        </label>
		        <div class="espaciadorReservas"></div>

		        <label class="item-input inputLogin" style="white-space: initial;" ng-if="reserva.numero_habitaciones">
		        	Habitaciones: {{reserva.numero_habitaciones}}
		        </label>
				<div class="espaciadorReservas" ng-if="reserva.numero_habitaciones"></div>

				<!-- Mostrar peso y monto si es reservado pendiente pago-->
				<label ng-show="reserva.estado_reserva == 'reservado pendiente pago' " class="item-input inputLogin" style="white-space: initial;">
		        	Total pago: {{reserva.total_pago}}
		        </label>
		        <div ng-show="reserva.estado_reserva == 'reservado pendiente pago' " class="espaciadorReservas"></div>

		        <label ng-show="reserva.estado_reserva == 'reservado pendiente pago' " class="item-input inputLogin" style="white-space: initial;">
		        	Moneda: {{reserva.moneda}}
		        </label>
		        <div ng-show="reserva.estado_reserva == 'reservado pendiente pago' " class="espaciadorReservas"></div>

				<!-- Mostrar peso y monto si es reservado pendiente pago-->
		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Estado de la reserva: {{reserva.estado_reserva}}
		        </label>
		        <div class="espaciadorReservas"></div>

		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Solicitudes adicionales: {{reserva.solicitudes_adicionales}}
		        </label>
		        <div class="espaciadorReservas"></div>
		        <label class="item-input inputLogin" style="white-space: initial;">
		        	Último mensaje: {{reserva.mensaje}}
		        </label>
				
				<br>

				<button ng-click="openModalMensajesReserva(reserva.id_reserva_servicio_turistico,reserva.estado_reserva)" class="button button-full button-royal verTodosMensajes">
  						<img src="img/reservas/verMensajes.png"  alt="" class="nuveReserva">VER TODOS LOS MENSAJES
				</button>
		        
		        <!--<button ng-click="mostrarReservaEnMapa(reserva.id_servicio_turistico)" class="button button-full button-royal " style="margin-top: 0px !important;background-color:#3a3189;">
  						Ver en mapa
				</button> -->
		        
		        <div class="row" style="padding-right: 0px;padding-left: 0px;">
		          <div class="col" style="padding-right: 0px;padding-left: 0px;margin-right: 2%;width: 98%;">
		           	<!--<button ng-hide="reserva.estado_reserva == 'cancelado'" ng-click="anularReserva(reserva.id_mensaje)" class="button button-full button-royal " style="margin-top: 0px !important;background-color:#3a3189;">
  						Anular
					</button>-->

					<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="anularReserva(reserva.id_mensaje)" ng-hide="reserva.estado_reserva == 'cancelado'" >
						 <p class="textoBtonVerReservas">ANULAR</p>
						 <img src="img/login/btnIngresar.png" alt="" class="btnReserva" style="width: 100% !important;">
					</div>

		          </div>
		          
		          <div ng-show=" reserva.estado_reserva != 'cancelado' " class="col" style="padding-right: 0px;padding-left: 0px;margin-left: 2%;width: 98%;">
		            <!--<button ng-click="modificarReserva(reserva.id_reserva_servicio_turistico,reserva.id_servicio_turistico)" class="button button-full button-royal " style="margin-top: 0px !important;background-color:#3a3189;">
	  					Modificar
					</button> -->

					<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="modificarReserva(reserva.id_reserva_servicio_turistico,reserva.id_servicio_turistico)">
						 <p class="textoBtonVerReservas">MODIFICAR</p>
						 <img src="img/login/btnIngresar.png" alt="" class="btnReserva" style="width: 100% !important;">
					</div>
					
		          </div>

		          <div ng-show=" reserva.estado_reserva == 'cancelado' " class="col" style="padding-right: 0px;padding-left: 0px;margin-left: 2%;width: 98%;">
		            <!--<button ng-click="verReserva(reserva.id_reserva_servicio_turistico,reserva.id_servicio_turistico)" class="button button-full button-royal btnGuardarMisDatos " style="margin-top: 0px !important;background-color:#3a3189;">
	  					ver
					</button>-->

					<div class="btnGuardarMisDatos" style="height: 46px;" ng-click="verReserva(reserva.id_reserva_servicio_turistico,reserva.id_servicio_turistico)">
						 <p class="textoBtonVerReservas">VER RESERVA</p>
						 <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin" style="width: 100% !important;">
					</div>
		          </div>

		        </div>

		        <hr class="separadorReservas">
					
        	</div>
        	
          	<!--<div class="row">
	          <div class="col">
	           	<button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalReservas()">
	           		<i class="volverAzul iconoBotonMisDatos"></i>
	           	</button>
	          </div>
	          
	          <div class="col">
	            
	          </div>
	        </div> -->
       	</div>
    </ion-content>
</ion-modal-view>