<ion-modal-view  class="modal_pantalla_completa" ng-controller="reservaCtrl">
	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>
	<!-- <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" style="height: 63px;">
	        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="ocultarModalReserva()"> 
	        <h1 class="title tituloModalFullscreenNuevo fuenteKini tituloAtrasEquis">
	        	<img src="img/reservas/logo.png" alt="" class="imgHeaderModal" ng-click="" style="margin-left: 22%; margin-top: 8%; width: 16px;  height: 16px;">
	        	Reservas
	        </h1>
	        <button class="button button-clear button-primary" ng-click="cerrarModalReserva()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>

    </ion-header-bar> --> 

    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
        <img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="ocultarModalReserva()">
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" style="">
			<img src="img/reservas/logo.png" alt="" class="imgHeaderModal" ng-click="" style="width: 15px; height: 15px; margin-right: 1% !important; margin-left: 1% !important;">
        	RESERVAS
        </h1>
        <button class="button button-clear button-primary" ng-click="cerrarModalReserva()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalReservas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->

    </ion-header-bar> 

    <div class="bar bar-subheader bajar-reserva" style="background-color:#EA700C; top: 60px !important;/*height: 55px !important;*/">
      <div class="contenedorCategoria text-center" style="margin-top: -2px !important; background-color:#EA700C;">
            <img src="img/reservas/invReserva.png" alt="" class="iconoSubTituloMenuAcciones">
            <p class="textoSubTituloMenuAcciones">{{item_seleccionado.nombre}}</p>
        </div>
    </div>

    <ion-content class="padding bajar-reserva-detalle" style="top: 80px !important; bottom: 51px !important;" >
    	<!--<div class="" style="height: 50px;  background-color: #EA700C;  width: 110%; margin-left: -3%; margin-top: -1%; position: relative; z-index: 6;">
            <img src="img/reservas/invReserva.png" alt="" class="iconoSubTituloMenuAcciones">
            <p class="textoSubTituloMenuAcciones">{{item_seleccionado.nombre}}</p>
        </div>  -->

       	<div class="" style="padding-left: 5%;  padding-right: 5%; margin-bottom: 20%;margin-top: 60px; z-index: -1;">
       		<div ng-show='fromExpreiencia'>
       		       		<strong>Servicio a reservar</strong>
       					<p class="marginTopDiezPx">{{item_seleccionado.nombre_producto}}</p>
       		</div>
       		<strong><p style="color: #EA700C;" >Datos de contacto</p></strong>
       		<br>

			<p class="marginTopDiezPx">Teléfono:</p>
			<label class="item item-input ">
          		<input ng-disabled="soloVer" type="number" ng-model="misDatos.telefono">
        	</label>
        	
        	<br>
          	<div style="  height:1px;  background:#454849;  border-bottom:1px solid #454849; width: 120%; margin-left: -10%;"></div>

	        <br>
	        <strong><p style="color: #EA700C;" >Datos de Reserva</p></strong>
	        <br>
	        
	        <p class="marginTopDiezPx" ng-show="id_tipo_servicio == 10">Número de habitaciones:</p>
	        <label class="item item-input " ng-show="id_tipo_servicio == 10"> 
          		<input ng-disabled="soloVer" type="number" ng-model="misDatos.numHabitaciones" placeholder="N° habitaciones">
        	</label>

			<p class="marginTopDiezPx">Número de personas</p>
        	<label class="item item-input ">
          		<input ng-disabled="soloVer" type="number" ng-model="misDatos.numPersonas" placeholder="N° personas">
        	</label>

        	<p class="marginTopDiezPx">Tipo moneda:</p>
        	<label class="item item-input inputLogin">
	        	<button ng-disabled="soloVer" class="button button-light icon-right ion-arrow-down-b selectSexo" modal-select ng-model="misDatos.sexo" options="selectables" modal-title="Selección de moneda" hide-reset="true" cancel-button="_____" on-select="selectMoneda(newValue, oldValue)" header-footer-class="bar-assertiveAtacama">
	            	{{monedaSeleccionada}}
	            	<div class="option">
	                	{{option}}
	            	</div>
	          	</button>
	        </label>

			<p class="marginTopDiezPx" >Fecha entrada:</p>
	        <label  class="item item-input" ng-click="openDatePicker('entrada')" ng-model="misDatos.fechaEntrada" style="    padding-top: 10px;padding-bottom: 10px;">
	          	<p style="color: #acacac;">{{fechaSeleccionadoEntrada}}</p>
	        </label>

			<p class="marginTopDiezPx">Fecha salida:</p>
	        <label class="item item-input" ng-click="openDatePicker('salida')" ng-model="misDatos.fechaSalida" style="    padding-top: 10px;padding-bottom: 10px;">
	          	<p style="color: #acacac;">{{fechaSeleccionadoSalida}}</p>
	        </label>

			<p class="marginTopDiezPx">Solicitudes Adicionales:</p>
	        <label class="item item-input">
          		<input ng-disabled="soloVer" type="text" ng-model="misDatos.adicionales" placeholder="Mensaje">
        	</label>

			<br>
			<div ng-hide="soloVer" class="btnGuardarMisDatos" style="height: 46px;">
  				<h1 ng-click="reservar(misDatos)" class="" style="position: absolute;    width: 90%;    text-align: center;    margin-top: 18px;    color: white;    font-weight: 700;    font-size: 12px">{{textoReserva}}</h1> <!-- reservarNavegador(item.id) -->
  				<img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
			</div>

			<br><br><br><br>

       	</div>
    </ion-content>
    <!-- <ion-footer-bar align-title="left" class="bar-light tituloModalFullscreen">
	  <div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalReserva()">
	         <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <!--
	  <div class="buttons" ng-click="doSomething()">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardar iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  -->
	</ion-footer-bar> -->
</ion-modal-view>