<ion-modal-view class="modalMisDatos"  ng-controller="rutasTipicasOfflineCtrl">
    <ion-header-bar class="bar bar-header bar-positive tituloMisDatos">
        <i class="rutasTipicasMenuNuevaAzul iconoMisDatos"></i>
        <h1 class="title" style="color:#000000;    font-size: 24px;">Rutas típicas offline</h1>
        <button class="button button-clear button-primary" ng-click="modalRutasTipicasOffline.hide()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
    <ion-content class="padding">
       	<div class="list">
			<div class="list">
				<h4>Filtros:</h4>
				<div class = "row">
				  	<div class = "col">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'todas'" name="radio">Todas</ion-radio>
				   	</div>
				   	<div class = "col">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'enRecorrido'" name="radio">En recorrido</ion-radio>
				   	</div>
				</div>
				<div class = "row">
				   	<div class = "col">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'recorridas'" name="radio">Recorridas</ion-radio>
				   	</div>
				   	<div class = "col">
				   		 <ion-radio class="item-text-wrap" ng-model="filtro" ng-value="'sinRecorrer'" name="radio">Sin recorrer</ion-radio>
				   	</div>
				</div>
				
				<div class="bar bar-royal">
	  				<h1 ng-click="filtrar(filtro)" class="title">Filtrar</h1> <!-- reservarNavegador(item.id) -->
				</div>
				<br>
				<br>
			</div>
			<div class="list" ng-repeat="ruta in rutas_tipicas">
		        <label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	Nombre: <br> <i class="ion-checkmark rutaTipicaRealizada" ng-show="ruta.estado_ruta == 'completa' || ruta.estado_ruta == 'en curso' "></i> 
		          	{{ruta.nombre_ruta}}
		        </label>
		        <label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	Descripción: <br>
		          	{{ruta.descripcion_ruta}}
		        </label>
		        <label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	Tipo de turismo: <br>
		          	<p ng-repeat="item in ruta.tipos_servicios" class="wrapping-list">
		          		{{item.nombre_tipos_turismo}}	
		          	</p>
		          	
		        </label>
		        <label class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	<span ng-repeat="comuna in ruta.comunas" class="wrapping-list">
		        		{{comuna.nombre_comuna}}
		        	</span>
		        </label>
		        <div class="item item-input datosRutasTipicas wrapping-list" style="white-space: initial;">
		        	<p class="wrapping-list" >{{ruta.calificacion_usuario}} <span class="fechaComentario">({{ruta.calificacion_promedio}} de 5)</span></p>
		        	<div ng-click="addCalificacion(ruta,ruta.calificacion_usuario)">
		         		<rating ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating>
		         	</div>
		        </div>
		        
		        <button ng-show="ruta.estado_ruta == 'en curso'" ng-click="recorrerRuta(ruta.id_ruta)" class="button button-full button-royal" style="margin-top: 0px !important;">
  					Continuar ruta	
				</button>

				<button ng-show="ruta.estado_ruta != 'en curso'" ng-click="desargarRuta(ruta.id_ruta)" class="button button-full button-royal" style="margin-top: 0px !important;">
  					Desargar ruta	
				</button>
        	</div>
        	
          	<div class="row">
	          <div class="col">
	           	<button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalrutastipicas()">
	           		<i class="volverAzul iconoBotonMisDatos"></i>
	           	</button>
	          </div>
	          
	          <div class="col">
	            
	          </div>
	        </div>
       	</div>
    </ion-content>
</ion-modal-view>