<ion-modal-view class="modal_pantalla_completa"  ng-controller="saberMasCtrl">
    
    <div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
  	</div>

    <ion-header-bar class="contenedortituloModalFullscreenNuevo bar bar-header bar-positive ">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarModalSaberMas()">
        <h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto" >
          <img src="img/nuevoHome/rutasTipicas.png" alt="" class="" style="height:15px;  margin-top: 3%;  margin-right: 1%;  "> RECORRIDOS FRECUENTES 
        </h1>
        <button class="button button-clear button-primary" ng-click="volverrutasTipicas()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
    </ion-header-bar>

    <div class="bar bar-subheader" style="background-color: white; top: 55px !important;height: 55px !important;">
      <div class="contenedorTituloSaberMas" style="height: 75px;">
          <h3 class="tituloSaberMas title tituloModalFullscreenNuevo fuenteRoboto" style="color: #111;">
            <img src="img/rutasTipicas/tituloRutasTipicas.png" alt="" class=""  style="height:30px; margin-right: 0%;"> {{ruta.nombre_ruta}}
          </h3>
        </div>
    </div>

    <ion-content class="scrollClass has-subheader" style="top: 110px;">
       	
       	
       	<div class="contenedorImagenSaberMas" ng-show="ruta.imagen != 'http://200.14.68.107/atacamaGoMultimedia/' ">
       		<ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)" ng-hide="ocultarSlider">  
            <!--<ion-slide>
              <div class="box blue pager">
                <img ng-src="{{ruta.imagen}}" alt="" style="width: 100%;">
              </div>
            </ion-slide>-->
            
            <ion-slide ng-repeat="foto in ruta.galeria">
              <div class="box blue pager">
                <img ng-src="{{foto.ruta}}" alt="" style="width: 100%;">
              </div>
            </ion-slide>

          </ion-slide-box>
       	</div>

       	<div class="contenedorAccionesRuta" ng-show="tieneRutaContinuar">
       		<img src="img/nuevoHome/continuarRuta.png" alt="" class="imgContinuarRutaRutasTipicas">
       		<!--<img src="img/nuevoHome/compartir.png" alt="" class="imgCompartirRutaRutasTipicas">
       		<img src="img/nuevoHome/valoracion.png" alt="" class="imgValoracionRutaRutasTipicas">-->

          <img src="img/evento/compartir_azul.png" alt="" class="imgCompartirRutaRutasTipicas" style="margin-top: 5px; height: 40px; width: 40px" ng-click="openModalCompartir()" ng-show="false">

          <img src="img/rutasTipicas/eliminar.png" alt="" class="imgCompartirRutaRutasTipicas" style="margin-top: 5px; height: 40px; width: 40px" ng-click="eliminarRuta()" ng-show="eliminar">

          <img src="img/rutasTipicas/descargar.png" alt="" class="imgCompartirRutaRutasTipicas" style="margin-top: 5px; height: 40px; width: 40px" ng-click="guardarRutaOffline()" ng-show="descargar">

          <img src="img/rutasTipicas/actualizar.png" alt="" class="imgCompartirRutaRutasTipicas" style="margin-top: 5px; height: 40px; width: 40px" ng-click="guardarRutaOffline()" ng-show="actualziar">

          <br>
       		<p class="fuenteKini txtContinuarRuta2" ng-style="estado_ruta_margen">
            {{estado_ruta}}
          </p>
       	</div>

        <!-- <div class="contenedorAccionesRuta" ng-hide="tieneRutaContinuar"> -->
          <!--<img src="img/nuevoHome/continuarRuta.png" alt="" class="imgContinuarRutaRutasTipicas">
          <img src="img/nuevoHome/compartir.png" alt="" class="imgCompartirRutaRutasTipicas">
          <img src="img/nuevoHome/valoracion.png" alt="" class="imgValoracionRutaRutasTipicas">-->
          <!-- <p class="fuenteKini txtContinuarRuta" ng-style="estado_ruta_margen">{{estado_ruta}}</p> -->
        <!-- </div> -->

        <div ng-show="mostrarPorcentaje">
          <progress max="100" value="{{progressPercent}}">  
          </progress>

          <p>{{estado}} {{progressPercent | number:0}} %</p>
        </div>

       	<div class="cuerpoSaberMas">
       		<p class="txtDistanciaSaberMas">{{ruta.duracion_dias}}</p>
       		
          <!-- <div class="row">
              <p style="float: left; margin-left: 5px;"></p>
          </div>
          <div class="row" ng-click="addCalificacion(ruta,ruta.calificacion_usuario)">
            
            <rating style="float: left; margin-left: 5%;" ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating>
            
          </div> -->

          <div class="row">
              <div class="col">
                  <div><p style="text-align: right; font-size: small;">Calificar ({{ruta.calificacion_promedio}} de 5)</p></div>
                  <rating ng-click="addCalificacion(null,ruta.calificacion_usuario)" class="estrellaValoracionPuntuacionDetalle" style="margin-top: 0%;" ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating> 
              </div>
              
          </div>

          <!-- <div class="row" ng-click="addCalificacion(null,item.calificacion)"> -->
          <!-- <div class="row" ng-click="addCalificacion(null,ruta.calificacion_usuario)">
              <div class="col">
                  <rating class="" style="margin-top: 0%; float: right;" ng-model="ruta.calificacion_usuario" max="5" id="calificarRutasTipicas"></rating> 
              </div>
          </div> -->

       		
          <p class="txtCuerpoSaberMas" ng-bind-html="trustAsHtml(ruta.descripcion_ruta)">
       		</p>

       	</div>

       	<div class="contenedorBtnRecorrerRuta">
       		<div class="margenBtnRecorrerRuta" style="height: 46px;" ng-click="recorrerRuta()"  ng-show="mostrarBoton">
       		  <p class="textoIniciarSesion">RECORRER RUTA</p>
       		  <!-- <img src="img/login/btnIngresar.png" alt="" class="btnRecorrerRuta btnIngresarLogin"> -->
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin" style="width: 225px;">
       		</div>
       	</div>
        

          <div ng-hide="mostrarBoton" class="margenAvisoCerca">
            <p>Cuando te encuentres cerca podrás recorrer esta ruta</p>
          </div>


          

          <div class="margenBtnRecorrerRuta" style="height: 46px; margin-top: -240px;" ng-show="actualziar" ng-click="recorrerRutaOffline()" ">
            <p class="textoIniciarSesion" >RECORRER RUTA OFFLINE</p>
            <img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin" style="width: 225px;" >
          </div>
          <br><br>
</div>
       	<!--<div class="list paddingRegistro">
			<h3>Descripción</h3>
			{{ruta.descripcion_ruta}}
			<br>

			<h3>Galeria de fotos</h3>
			<!--<div ng-repeat="foto in ruta.galeria">
				<img ng-show="foto.ruta != 'http://200.14.68.107/atacamaGoMultimedia/' " ng-src="{{foto.ruta}}" alt="" width="100%">
			</div>-

			<ion-slide-box on-slide-changed="slideHasChanged3($index)">
				 	<ion-slide ng-repeat="foto in ruta.galeria">
						<img ng-show="foto.ruta != 'http://200.14.68.107/atacamaGoMultimedia/' " ng-src="{{foto.ruta}}" alt="" width="100%">
				 	</ion-slide>
			</ion-slide-box>

			<br>

			<h3 ng-show="ruta.accesibilidad">Accesibilidad</h3>
			{{ruta.accesibilidad}}
       	</div>-->
    </ion-content>
</ion-modal-view>