<ion-modal-view cache-view="false" ng-hide="goBack">

	<div class="footerNuevoHome">
  		<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome">
	</div>

	<ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo" >
  		<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" ng-click="cerrarServiciosAtractivos()">
    	<h1 class="tituloAtrasEquis title tituloModalFullscreenNuevo fuenteRoboto centrar-titulo" style="text-transform: uppercase; overflow: hidden; text-align: center;">
    		<img ng-src="{{icono}}" alt="" class="iconoHeaderModal iconoServiciosAtractivos" style="height:15px;  margin-top: 4.5%;  margin-right: 1%; margin-left: 0%;">{{textServiciosAtractivos}} 
    		<!-- {{atractivoSeleccionado}}-->
    	</h1>

    	<button class="button button-clear button-primary"  ng-click="cerrarServiciosAtractivosTotal()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button>
	</ion-header-bar>

  	<ion-content class="contenido" style="overflow-y : hidden;  z-index: 5" scroll="false">
    	<div style="width:100%; height:100%;overflow-y : hidden;" id="map_canvas222">

    		<div class="contenedorNombreFiltroServicio" ng-show="showBotonFiltroServicio">
    			<img src="img/filtrar.png" alt="" class="imgFiltrarServicioAtractivo">
				<p class="fuenteRoboto textoMenuFiltro" style="color: white;" ng-click="mostrarFiltroServicios()">{{servicioSeleccionado}}</p>
				<img src="img/abrirMenu.png" alt="" class="imgAbrirServicioAtractivo">
			</div>

			<div class="contenedorNombreFiltroAtractivo" ng-show="showBotonFiltroAtractivo">
				<img src="img/filtrar.png" alt="" class="imgFiltrarServicioAtractivo">
				<p class="fuenteRoboto textoMenuFiltro" style="color: white;" ng-click="mostrarFiltroAtractivos()">{{atractivoSeleccionado}}</p>
				<img src="img/abrirMenu.png" alt="" class="imgAbrirServicioAtractivo">
			</div>

			<div class="contenedorFiltroMiRecorridoAtractivo" ng-show="showFiltroAtractivo">
	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<div class="separadorBlanco"></div>
	    			<!-- <img src="img/iconoTipoAtractivo/{{atractivo.id_sub_tipo_atractivo}}.png" alt="" style="float: left;  height: 30px;  margin-right: 5px; margin-top: 8px;"> -->
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    		</div>				
	    		<div class="separadorBlanco"></div>
	    	</div>

	    	<div class="contenedorFiltroMiRecorridoServicio" ng-show="showFiltroServicio">
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">
	    			<div class="separadorBlanco"></div>
	    			
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>
	    		</div>				
	    		<div class="separadorBlanco"></div>
	    	</div>
    		<!--<div class="contenedorFiltroMiRecorridoAtractivo" ng-show="showFiltroAtractivo">
	    		<div ng-repeat="atractivo in atractivosTuristicos">
	    			<div class="separadorBlanco"></div>
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !atractivo.seleccionado, 'textoMenuFiltroPatrimonioSeleccionado': atractivo.seleccionado}" ng-click="mostrarPatrimonios(atractivo.id_sub_tipo_atractivo,$index)">{{atractivo.nombre}}</p>
	    		</div>				
	    		<div class="separadorBlanco"></div>
	    	</div>

	    	<div class="contenedorFiltroMiRecorridoServicio" ng-show="showFiltroServicio">
	    		<div ng-repeat="servicio in serviciosTuristicosMenu">
	    			<div class="separadorBlanco"></div>
	    			<p class="fuenteRoboto textoMenuFiltro" ng-class="{'textoMenuFiltro': !servicio.seleccionado, 'textoMenuFiltroServicioSeleccionado': servicio.seleccionado}" ng-click="mostrarServiciosTuristicos(servicio.id_tipo_servicio,$index)">{{servicio.nombre}}</p>
	    		</div>				
	    		<div class="separadorBlanco"></div>
	    	</div>

			<div class="contenedorBotonesRutaTipica">
				<img src="img/rutasTipicas/casa.png" alt=""     class="botonesRutaTipica" ng-click="mostrarFiltroServicios()">
				<div></div>
				<img src="img/rutasTipicas/division.png" alt="" class="botonesRutaTipica" ng-click="mostrarFiltroAtractivos()">
				<div></div>
				<img src="img/rutasTipicas/bandera.png" alt=""  class="botonesRutaTipica" ng-click="addHuella()">
			</div>

    		<div class="contenedorBotonRegistrarHuella">
    			<div class="descartarHuella" ng-click=""></div>
    			<div class="addHuella" ng-click="stopMiRecorrido()"></div>
    			<img class="btnDejaTuHuella" src="img/misRecorridos/stopMisRecorridos.png" alt="" usemap="#Map" />
    		</div>-->

    		<!-- <div class="contenedorBotonesRutaTipica" ng-show="showBotonFiltroServicio" style="right: 3.5% !important; bottom: 120px !important;">
				<img src="img/rutasTipicas/division.png" alt="" class="botonesRutaTipica" ng-click="mostrarFiltroAtractivos()">
			</div>

			<div class="contenedorBotonesRutaTipica" ng-show="showBotonFiltroAtractivo" style="right: 3.5% !important; bottom: 120px !important;">
				<img src="img/rutasTipicas/casa.png" alt="" class="botonesRutaTipica" ng-click="mostrarFiltroServicios()">
			</div> -->

    	</div>
  	</ion-content>
</ion-modal-view>