<ion-modal-view class="" ng-controller="subirImagenCtrl"> <!-- class="modal_crear_huella" -->
    <ion-header-bar class="bar bar-header bar-positive contenedortituloModalFullscreenNuevo">
    	<img src="img/nuevoHome/atras.png" alt="" class="imgAtrasRutasTipicas" style="margin-right: 5%;" ng-click="atrasModalSubirImagen()">
        <h1 class="title tituloModalFullscreenNuevo fuenteRoboto">
        	<img src="img/deja_tu_huella/deja_tu_huella.png" alt="" class="" style="height: 20px; margin-top: 3%; margin-right: 1%;"> Crear Huella
        </h1>
        <!-- <button class="button button-clear button-primary" ng-click="cerrarModalSubirImagen()"><i class="equisMenuModalAzul" style="margin-left: 15% !important;"></i></button> -->
    </ion-header-bar>

    <div class="footerNuevoHome">
    	<img src="img/nuevoHome/logoBlanco.png" alt="" class="logoFooterNuevoHome" ng-hide="menuAbierto">
    </div>

    <ion-content class="padding">
    	<img src="img/deja_tu_huella/imgAgregarDescripcion.png" alt="" class="imgAgregarHuella">
    	<p class="txtAgregarImgPrincipal">Agregar imagen</p>
		<div class="separadorAzul"></div>

       	<div class="list paddingRegistro">

			<div class = "row" ng-hide="noEdita">
				<!--<div class = "col col-33 text-center" >
				  	<p>Desde archivo</p>
				    <i class='add ' ng-click="choosePhoto()"></i>
				</div>-->
				<div class="col col-50 text-center">
	    			<img src="img/deja_tu_huella/desde_archivo.png" alt="" ng-click="choosePhoto()">
					<p>Desde archivo</p>	
	    		</div>

				<!--<div class = "col col-33 text-center">
				   		<p>Tomar foto</p>
				    <i class='camara ' ng-click="takePhoto()"></i>
				    <!--<a ng-click="addImagenItem()"><p class="text-center">añadir imagen</p></a>
				</div>-->

				<div class="col col-50 text-center">
					<img src="img/deja_tu_huella/tomar_foto.png" alt="" ng-click="takePhoto()">
					<p>Tomar foto</p>
				</div>
			</div>


			<div ng-repeat="imagen in hola" >
				<div class = "row" ng-if="$even">
				  	<div class = "col col-50" >
				  		<div ng-show="hola[$index].id_usuario == id_usuario">
				  			<i class="equisMenuModalAzul" style="margin-right: 10px; color: black;" ng-click="eliminarImagen(hola[$index],$index)"></i>
			  			</div>
				  		<p>{{hola[$index].comentario}}
				   		<img ng-click="openModalVisorImagen(hola[$index].foto)" ng-class="{'imagenItem': hola[$index].foto}"  image-lazy-src="{{hola[$index].foto}}"><!-- <i class="" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index],$index)"></i> --></img>
				   	</div>
				   	<div class="col col-50">
				   		<div ng-show="hola[$index+1].id_usuario == id_usuario"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index+1],$index+1)"></i></div>
				   		<p>{{hola[$index+1].comentario}}
				   		<img ng-click="openModalVisorImagen(hola[$index+1].foto)" ng-class="{'imagenItem': hola[$index+1].foto}" ng-show="hola[$index+1].foto" image-lazy-src="{{hola[$index+1].foto}}"><!-- <i class="" style="margin-right: 10px;color: black;" ng-click="eliminarImagen(hola[$index],$index)"></i> --></img>
				   	</div>
				   
				</div>
			</div>

			<!--<button class="button button-block button-royal" ng-click="masComentarios(cantImagenes)">
  				Más imágenes
			</button> -->

			<!-- <div class="btnGuardarMisDatos" style="height: 46px;" ng-click="masComentarios(cantImagenes)">
			   	<p class="textoMasImagenes">Más imágenes</p>
			 	<img src="img/login/btnIngresar.png" alt="" class="btnIngresarLogin">
			</div> -->
			
       	</div>

       	<div>
       		<!-- <div class="margenBtnRecorrerRuta" style="height: 46px;margin-bottom: 20px;" ng-click="addImagenItem()">
       		  <p class="textoIniciarSesion">GUARDAR</p>
       		  <img src="img/login/btnMorado.png" alt="" class="btnIngresarLogin">
       		</div> -->
       	</div>

			<div class = "row">
				<img ng-show="tieneSrc" id="imagenSacadaFotoSubir" style="    margin-bottom: 5px;display: block;height: 100px;margin-left: 35%;" src="">	   	
			</div>
       	
    </ion-content>

    <ion-footer-bar class="footerCrearHuella">
    	<div class="row contenedorAccionesDejaTuHuella">
          	<div class="col">
	       		<img src="img/deja_tu_huella/editar.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarDescripcion()">
          	</div>
          	<div class="col">
	       		<img src="img/deja_tu_huella/galeria_blanco.png" alt="" class=" iconoCrearHuella" ng-click="openModalSubirImagen()">
          	</div>
          	<div class="col">
	          	<img src="img/deja_tu_huella/comentarios.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarComentario()">
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
          	<div class="col">
	          	<img src="img/deja_tu_huella/valoracion.png" alt="" class=" iconoCrearHuella" ng-click="openModalAgregarCalificar()">
	          	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">-->
          	</div>
       	</div>
    </ion-footer-bar>
	
    <!--<ion-footer-bar>
	  <!--<div class="buttons">
	    <button class="button button-full button-positive botonMisDatos" ng-click="cerrarModalSubirImagen()">
	        <i class="volverAzul iconoBotonMisDatos"></i>
	    </button>
	  </div>
	  <h1 class="title"></h1>
	  <div class="buttons" ng-click="addImagenItem()">
	    <button class="button button-full button-positive botonMisDatos">
	        <i class="guardarPlomo iconoBotonMisDatos"></i>
	    </button>
	  </div>--
	  			<div class="contenedorBotonesAcciones">
	  	     		<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarDescripcion()">
	  	     		<img src="img/atractivos/galeria.png" alt="" class="imgMenuAtractivos" ng-click="openModalSubirImagen()">
	  	     		<!--img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()">--
	  	        	<img src="img/atractivos/comentarios.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarComentario()">
	  	        	<img src="img/atractivos/valoracion.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarCalificar()">
	  	        	<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">--
	  	      </div>
	  	 <!--     
       	<div class="contenedorAccionesDejaTuHuella">
	  		<div class="row">
	  			<div class="col">
	       			<img src="img/deja_tu_huella/editar.png" alt="" class="imgMenuNueva" ng-click="openModalAgregarDescripcion()">
	       		</div>

	       		<div class="col">	
	       			<img src="img/atractivos/galeria.png" alt="" class="imgMenuNueva" ng-click="openModalSubirImagen()">
	       		</div>

	       			<!--<img src="img/atractivos/video.png" alt="" class="imgMenuAtractivos" ng-click="openModalAgregarVideo()">--
	          	<div class="col">	
	          		<img src="img/atractivos/comentarios.png" alt="" class="imgMenuNueva" ng-click="openModalAgregarComentario()">
	          	</div>

	          	<div class="col">	
	          		<img src="img/atractivos/valoracion.png" alt="" class="imgMenuNueva" ng-click="openModalAgregarCalificar()">
	          	</div>

	          		<!--<img src="img/atractivos/compartir.png" alt="" class="imgMenuAtractivos">--
	        </div>
       	</div>
       	--

	</ion-footer-bar>-->
</ion-modal-view>