<ion-modal-view class="modal_pantalla_completa">
  <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title"></h1>
      <button class="button button-clear button-primary" ng-click="modalVisorAudio.hide()"><i class="equisMenuModalAzul" style="margin-right: 10px;color: black;"></i></button>
    </ion-header-bar>
  <ion-content class="padding" scroll="false">       

	<audio controls>
		<source ng-src="{{ audioUrl }}" type="audio/mpeg">
	</audio>
          
  </ion-content>
</ion-modal-view>